# Data Cleaning
#### In this sheet we will be cleaning the training and test_set data

## Training Set

In [1]:
#import the libraries and then dataset and look at it
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#load the test set for cleaning
train=pd.read_csv('datasets/train.csv')
test=pd.read_csv('datasets/test.csv')

In [3]:
test['SalePrice']=np.zeros(shape=(879,))
df=train

In [4]:
#splitting column names to make cleaning easier to manage
land_f=['Id', 'PID', 'MS SubClass', 'MS Zoning', 'Lot Frontage', 'Lot Area',
       'Street', 'Alley', 'Lot Shape', 'Land Contour', 'Utilities',
       'Lot Config', 'Land Slope', 'Neighborhood','Condition 1','Condition 2']
over_f=['Bldg Type', 'House Style', 'Overall Qual',
       'Overall Cond', 'Year Built', 'Year Remod/Add']
roof_f=['Roof Style',
       'Roof Matl', 'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type',
       'Mas Vnr Area', 'Exter Qual', 'Exter Cond']
bsmt_f=['Foundation', 'Bsmt Qual',
       'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin SF 1',
       'BsmtFin Type 2', 'BsmtFin SF 2', 'Bsmt Unf SF', 'Total Bsmt SF']
util_f=['Heating', 'Heating QC', 'Central Air', 'Electrical']
sqf_f=['1st Flr SF',
       '2nd Flr SF', 'Low Qual Fin SF', 'Gr Liv Area']
btrm_f=['Bsmt Full Bath',
       'Bsmt Half Bath', 'Full Bath', 'Half Bath']
rm_f=['Bedroom AbvGr',
       'Kitchen AbvGr', 'Kitchen Qual', 'TotRms AbvGrd']
func_f=['Functional',
       'Fireplaces', 'Fireplace Qu', 'Garage Type', 'Garage Yr Blt',
       'Garage Finish', 'Garage Cars', 'Garage Area', 'Garage Qual',
       'Garage Cond', 'Paved Drive', 'Wood Deck SF', 'Open Porch SF',
       'Enclosed Porch', '3Ssn Porch', 'Screen Porch', 'Pool Area', 'Pool QC',
       'Fence','Misc Feature', 'Misc Val']
sale_f=['Mo Sold', 'Yr Sold', 'Sale Type']
target_f=['SalePrice']

In [5]:
train['Garage Type'].value_counts

<bound method IndexOpsMixin.value_counts of 0        Attchd
1        Attchd
2        Detchd
3       BuiltIn
4        Detchd
5        Attchd
6       Basment
7        Attchd
8        Detchd
9        Attchd
10       Detchd
11       Attchd
12       Attchd
13       Detchd
14       Attchd
15       Attchd
16       Detchd
17       Detchd
18       Attchd
19       Attchd
20       Attchd
21       Attchd
22       Attchd
23       Attchd
24       Attchd
25       Attchd
26       Detchd
27       Detchd
28          NaN
29       Detchd
         ...
2021     Attchd
2022     Attchd
2023     Attchd
2024     Attchd
2025    BuiltIn
2026     Detchd
2027        NaN
2028     Attchd
2029     Attchd
2030     Detchd
2031     Attchd
2032     Attchd
2033     Attchd
2034     Attchd
2035     Detchd
2036     Attchd
2037     Attchd
2038     Attchd
2039        NaN
2040     Attchd
2041    BuiltIn
2042        NaN
2043     Attchd
2044     Attchd
2045     Attchd
2046     Attchd
2047     Detchd
2048     Detchd
2049     Attchd
2050     Attchd
Name: Garage Type, Length: 2051, dtype: object>

In [6]:
featuresets=[land_f,over_f,roof_f,bsmt_f,util_f,sqf_f,btrm_f,rm_f,func_f,sale_f,target_f]

In [7]:
#iterating through the features, was used to clean and identify abnormalities
#for featureset in featuresets:
for feature in featuresets[0]:
    print('Feature name:{}\n Type:{}\nIsnull?:'.format(feature,df[feature].dtypes))
    display(df[feature].isnull().sum())
    #display(df[feature].describe())
    display(df[feature].value_counts())

Feature name:Id
 Type:int64
Isnull?:

0

2047    1
2787    1
1058    1
1060    1
1062    1
1066    1
1068    1
1070    1
1072    1
1074    1
1076    1
1078    1
1080    1
1082    1
1084    1
1086    1
1088    1
1090    1
1094    1
1096    1
1098    1
1100    1
1102    1
1104    1
1106    1
1108    1
1110    1
1118    1
1120    1
1124    1
       ..
2536    1
471     1
473     1
2522    1
475     1
2524    1
477     1
2526    1
479     1
2528    1
2530    1
485     1
2534    1
487     1
489     1
2556    1
491     1
2540    1
493     1
2542    1
495     1
2544    1
497     1
2546    1
2548    1
2550    1
2552    1
505     1
507     1
2049    1
Name: Id, Length: 2051, dtype: int64

Feature name:PID
 Type:int64
Isnull?:

0

532351060    1
535303150    1
909250210    1
905377130    1
527403020    1
535452060    1
923252080    1
535455090    1
909131125    1
534476150    1
528290170    1
903202170    1
905201020    1
903456130    1
923228290    1
923252100    1
905201030    1
535152010    1
909129100    1
909428110    1
916475110    1
527451540    1
902301080    1
534431130    1
534125080    1
534177180    1
527451550    1
907200270    1
535451040    1
923205025    1
            ..
902330090    1
532376160    1
528174010    1
528108130    1
906475110    1
527252070    1
527375180    1
907253130    1
528231020    1
527252080    1
528104050    1
902204120    1
908102260    1
909425270    1
535104120    1
908225170    1
528235130    1
906380070    1
908102270    1
905300010    1
905452160    1
907410050    1
528104070    1
916253320    1
528231050    1
535403150    1
528477070    1
528104080    1
533120030    1
533250050    1
Name: PID, Length: 2051, dtype: int64

Feature name:MS SubClass
 Type:int64
Isnull?:

0

20     770
60     394
50     198
120    132
30     101
70      90
160     88
80      86
90      75
190     46
85      28
75      16
45      11
180     11
40       4
150      1
Name: MS SubClass, dtype: int64

Feature name:MS Zoning
 Type:object
Isnull?:

0

RL         1598
RM          316
FV          101
C (all)      19
RH           14
A (agr)       2
I (all)       1
Name: MS Zoning, dtype: int64

Feature name:Lot Frontage
 Type:float64
Isnull?:

330

60.0     179
70.0      96
80.0      94
50.0      90
65.0      71
75.0      68
85.0      52
63.0      38
78.0      33
24.0      33
21.0      32
74.0      31
90.0      31
64.0      31
72.0      30
62.0      28
68.0      28
73.0      25
100.0     23
82.0      21
52.0      20
57.0      20
43.0      20
79.0      19
66.0      19
53.0      18
59.0      18
67.0      18
88.0      16
51.0      16
        ...
113.0      2
313.0      2
130.0      2
101.0      2
46.0       2
33.0       1
141.0      1
115.0      1
121.0      1
174.0      1
117.0      1
195.0      1
150.0      1
118.0      1
160.0      1
123.0      1
137.0      1
116.0      1
200.0      1
25.0       1
144.0      1
124.0      1
138.0      1
111.0      1
122.0      1
22.0       1
155.0      1
153.0      1
119.0      1
135.0      1
Name: Lot Frontage, Length: 118, dtype: int64

Feature name:Lot Area
 Type:int64
Isnull?:

0

9600     34
7200     27
6000     26
10800    19
7500     18
9000     18
1680     14
6240     13
8400     11
10400     9
7000      9
9100      9
6120      8
3182      7
5400      7
9900      7
2280      7
8640      6
8000      6
4435      6
10625     6
5000      6
10320     6
7800      6
8125      6
9750      5
4500      5
7018      5
8750      5
10140     5
         ..
10890     1
8847      1
10896     1
8849      1
17043     1
8857      1
4765      1
12961     1
10007     1
10858     1
4761      1
6760      1
12853     1
8765      1
6718      1
8767      1
6720      1
8769      1
10818     1
12867     1
2628      1
8775      1
13478     1
13587     1
8789      1
12887     1
12891     1
10846     1
14948     1
12292     1
Name: Lot Area, Length: 1476, dtype: int64

Feature name:Street
 Type:object
Isnull?:

0

Pave    2044
Grvl       7
Name: Street, dtype: int64

Feature name:Alley
 Type:object
Isnull?:

1911

Grvl    85
Pave    55
Name: Alley, dtype: int64

Feature name:Lot Shape
 Type:object
Isnull?:

0

Reg    1295
IR1     692
IR2      55
IR3       9
Name: Lot Shape, dtype: int64

Feature name:Land Contour
 Type:object
Isnull?:

0

Lvl    1843
HLS      85
Bnk      80
Low      43
Name: Land Contour, dtype: int64

Feature name:Utilities
 Type:object
Isnull?:

0

AllPub    2049
NoSeWa       1
NoSewr       1
Name: Utilities, dtype: int64

Feature name:Lot Config
 Type:object
Isnull?:

0

Inside     1503
Corner      348
CulDSac     131
FR2          60
FR3           9
Name: Lot Config, dtype: int64

Feature name:Land Slope
 Type:object
Isnull?:

0

Gtl    1953
Mod      88
Sev      10
Name: Land Slope, dtype: int64

Feature name:Neighborhood
 Type:object
Isnull?:

0

NAmes      310
CollgCr    180
OldTown    163
Edwards    143
Somerst    130
NridgHt    122
Gilbert    116
Sawyer     111
NWAmes      87
SawyerW     87
Mitchel     82
BrkSide     76
Crawfor     71
IDOTRR      69
Timber      48
NoRidge     48
StoneBr     38
SWISU       32
ClearCr     27
MeadowV     24
Blmngtn     22
BrDale      19
Veenker     17
NPkVill     17
Blueste      6
Greens       3
GrnHill      2
Landmrk      1
Name: Neighborhood, dtype: int64

Feature name:Condition 1
 Type:object
Isnull?:

0

Norm      1767
Feedr      109
Artery      70
RRAn        36
PosN        27
RRAe        21
PosA        12
RRNn         6
RRNe         3
Name: Condition 1, dtype: int64

Feature name:Condition 2
 Type:object
Isnull?:

0

Norm      2025
Feedr       11
Artery       5
PosN         3
PosA         3
RRNn         2
RRAe         1
RRAn         1
Name: Condition 2, dtype: int64

In [8]:
df['Lot Frontage']=df['Lot Frontage'].fillna(0)
df['Mas Vnr Type']=df['Mas Vnr Type'].fillna('None')
df['Mas Vnr Type']=df['Mas Vnr Type'].fillna('None')
df['Mas Vnr Area']=df['Mas Vnr Area'].fillna(0.0)

In [9]:
df[(df['Mas Vnr Area']!=0.0)&(df['Mas Vnr Type']=='None')][roof_f]
#to drop?

,Roof Style,Roof Matl,Exterior 1st,Exterior 2nd,Mas Vnr Type,Mas Vnr Area,Exter Qual,Exter Cond
765,Shed,CompShg,Plywood,Plywood,None,1.0,TA,TA
810,Gable,CompShg,VinylSd,VinylSd,None,288.0,TA,TA
1148,Gable,CompShg,Wd Sdng,Wd Sdng,None,1.0,TA,TA
1684,Gable,CompShg,MetalSd,MetalSd,None,1.0,TA,TA
1832,Gable,CompShg,VinylSd,VinylSd,None,344.0,Gd,TA

In [10]:
df[(df['Mas Vnr Area']==0.0)&(df['Mas Vnr Type']!='None')][['Mas Vnr Area','Mas Vnr Type']]
#to drop?

      Mas Vnr Area Mas Vnr Type
669            0.0      BrkFace
1136           0.0      BrkFace
1187           0.0        Stone

In [11]:
df=df.drop([765,810,1148,1684,1832,669,1136,1187])

In [12]:
df['Bsmt Exposure'].value_counts()

No    1334
Av     286
Gd     203
Mn     163
Name: Bsmt Exposure, dtype: int64

In [13]:
df[(df['Bsmt Exposure'].isnull())&(df['Bsmt Qual'].notnull())][bsmt_f]
#to drop, no info other than that it exists and has sqft

,Foundation,Bsmt Qual,Bsmt Cond,Bsmt Exposure,BsmtFin Type 1,BsmtFin SF 1,BsmtFin Type 2,BsmtFin SF 2,Bsmt Unf SF,Total Bsmt SF
1456,CBlock,Gd,TA,NaN,Unf,0.0,Unf,0.0,725.0,725.0
1547,PConc,Gd,TA,NaN,Unf,0.0,Unf,0.0,1595.0,1595.0
1997,PConc,Gd,TA,NaN,Unf,0.0,Unf,0.0,936.0,936.0

In [14]:
#replace nan values with No Exposure?
df.loc[[1456,1547,1997],'Bsmt Exposure']=df.loc[[1456,1547,1997],'Bsmt Exposure'].fillna('No')

In [15]:
df[df['BsmtFin SF 1'].isnull()][bsmt_f]

,Foundation,Bsmt Qual,Bsmt Cond,Bsmt Exposure,BsmtFin Type 1,BsmtFin SF 1,BsmtFin Type 2,BsmtFin SF 2,Bsmt Unf SF,Total Bsmt SF
1327,PConc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df['BsmtFin SF 1']=df['BsmtFin SF 1'].fillna(0)

In [17]:
df[(df['BsmtFin Type 2'].isnull())&(df['Bsmt Qual'].notnull())][bsmt_f]

,Foundation,Bsmt Qual,Bsmt Cond,Bsmt Exposure,BsmtFin Type 1,BsmtFin SF 1,BsmtFin Type 2,BsmtFin SF 2,Bsmt Unf SF,Total Bsmt SF
1147,PConc,Gd,TA,No,GLQ,1124.0,NaN,479.0,1603.0,3206.0

In [18]:
#cant impute the BsmtFin Type, so we remove the entry
df=df.drop(1147)

In [19]:
df[(df['Bsmt Unf SF']).isnull()][bsmt_f]

,Foundation,Bsmt Qual,Bsmt Cond,Bsmt Exposure,BsmtFin Type 1,BsmtFin SF 1,BsmtFin Type 2,BsmtFin SF 2,Bsmt Unf SF,Total Bsmt SF
1327,PConc,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN

In [20]:
df['Bsmt Unf SF']=df['Bsmt Unf SF'].fillna(0)

In [21]:
df['Total Bsmt SF']=df['Total Bsmt SF'].fillna(0)

In [22]:
df['Bsmt Full Bath']=df['Bsmt Full Bath'].fillna(0)

In [23]:
df['Bsmt Half Bath']=df['Bsmt Half Bath'].fillna(0)

In [24]:
df[(df['Garage Type'].notnull())&(df['Garage Yr Blt'].isnull())][func_f]

,Functional,Fireplaces,Fireplace Qu,Garage Type,Garage Yr Blt,Garage Finish,Garage Cars,Garage Area,Garage Qual,Garage Cond,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val
1712,Typ,0,NaN,Detchd,NaN,NaN,NaN,NaN,NaN,NaN,...,174,0,212,0,0,0,NaN,MnPrv,NaN,0

In [25]:
#drop because no other data is available for it as well
df=df.drop(1712)

In [26]:
df[df['Garage Yr Blt'].isnull()][func_f]

,Functional,Fireplaces,Fireplace Qu,Garage Type,Garage Yr Blt,Garage Finish,Garage Cars,Garage Area,Garage Qual,Garage Cond,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val
28,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,0,133,0,0,0,NaN,NaN,NaN,0
53,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,200,26,0,0,0,0,NaN,NaN,NaN,0
65,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,30,0,0,0,0,NaN,NaN,NaN,0
79,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,0,0,176,0,0,NaN,NaN,NaN,0
101,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,0,144,0,0,0,NaN,NaN,NaN,0
103,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,36,94,0,0,0,NaN,NaN,NaN,0
114,Min2,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,0,100,0,0,0,NaN,NaN,NaN,0
120,Typ,1,Gd,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,144,0,0,0,0,0,NaN,NaN,NaN,0
134,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,0,96,0,0,0,NaN,NaN,NaN,0
136,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,0,176,0,0,0,NaN,NaN,NaN,0
139,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,344,0,0,0,168,0,NaN,NaN,NaN,0
162,Sev,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,56,0,0,0,0,NaN,NaN,NaN,0
235,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,0,176,0,0,0,NaN,NaN,NaN,0
256,Min2,1,Gd,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,36,190,0,0,0,NaN,NaN,NaN,0
260,Mod,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,263,0,0,0,0,0,NaN,GdWo,Shed,450
264,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,164,0,0,0,0,0,NaN,NaN,NaN,0
276,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,32,0,0,0,0,0,NaN,NaN,NaN,0
334,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,0,228,0,0,0,NaN,NaN,NaN,0
356,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,0,156,0,0,0,NaN,MnPrv,NaN,0
382,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,198,30,0,0,0,NaN,MnPrv,NaN,0
406,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,201,0,0,0,0,0,NaN,NaN,NaN,0
409,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,136,0,115,0,0,0,NaN,NaN,NaN,0
426,Min2,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,0,0,0,0,0,NaN,NaN,NaN,0
437,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,0,0,0,0,0,NaN,NaN,NaN,0
445,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,96,80,0,0,0,0,NaN,NaN,NaN,0
457,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,112,0,0,0,0,NaN,NaN,NaN,0
486,Typ,1,Gd,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,291,134,0,0,0,NaN,NaN,NaN,0
530,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,0,0,0,0,0,NaN,NaN,NaN,0
542,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,140,0,0,0,0,0,NaN,NaN,NaN,0
555,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,144,0,0,0,0,NaN,MnPrv,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1451,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,0,0,0,0,0,NaN,NaN,NaN,0
1464,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,117,0,0,0,0,0,NaN,NaN,NaN,0
1511,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,0,0,0,0,0,NaN,MnPrv,NaN,0
1519,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,0,0,0,0,0,NaN,NaN,NaN,0
1528,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,0,96,0,0,0,NaN,NaN,NaN,0
1544,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,0,0,0,0,0,NaN,NaN,NaN,0
1545,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,32,45,0,0,0,0,NaN,NaN,NaN,0
1563,Maj1,1,Gd,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,122,0,0,0,0,0,NaN,MnPrv,NaN,0
1564,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,0,0,0,0,0,NaN,GdWo,NaN,0
1584,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,120,0,0,0,0,0,NaN,NaN,NaN,0
1594,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,0,0,0,0,0,NaN,NaN,NaN,0
1634,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,0,0,0,0,0,NaN,NaN,NaN,0
1705,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,0,0,0,0,0,NaN,MnPrv,NaN,0
1711,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,0,0,0,0,0,NaN,NaN,NaN,0
1736,Typ,2,TA,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,0,0,0,0,0,NaN,GdWo,NaN,0
1754,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,96,0,0,0,0,NaN,NaN,NaN,0
1783,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,0,0,0,0,0,NaN,GdWo,NaN,0
1788,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,0,0,0,0,0,NaN,NaN,NaN,0
1799,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,200,0,0,0,0,NaN,NaN,NaN,0
1814,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,151,0,0,0,0,NaN,NaN,NaN,0
1841,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,130,256,0,0,0,NaN,NaN,NaN,0
1893,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,328,0,164,0,0,0,NaN,MnPrv,NaN,0
1927,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,52,0,0,0,0,NaN,NaN,NaN,0
1952,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,20,0,0,0,0,NaN,NaN,NaN,0
1982,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,88,0,0,0,0,0,NaN,NaN,NaN,0
1991,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,128,0,0,0,0,0,NaN,NaN,NaN,0
2010,Mod,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,0,23,0,0,0,NaN,NaN,NaN,0
2027,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,0,0,0,0,0,NaN,NaN,NaN,0
2039,Typ,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,64,0,0,0,0,NaN,NaN,NaN,0
2042,Typ,1,Gd,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0,0,112,0,0,0,NaN,NaN,NaN,0

#### There are missing values for the garage function, which also have all other missing values for the garage, indicating there is a lack of a garage. 

#### We can replace the rest with 0 to reflect a lack of garage, but this is not possible for the Garage Yr Blt, as it extends the scale and implies that the garage was built two thousand years ago

In [27]:
df[df['Garage Yr Blt'].isnull()].groupby('Neighborhood')['Neighborhood'].count()

Neighborhood
BrDale      1
BrkSide     9
ClearCr     1
CollgCr     2
Edwards    30
IDOTRR     18
MeadowV     7
Mitchel     3
NAmes       8
OldTown    19
SWISU       5
Sawyer      4
SawyerW     6
Name: Neighborhood, dtype: int64

**We write a function to impute the mean "garage year built" by neighborhood**

In [28]:
def imputer(df,group,column):
    meanlist={}
    groups=list(df.groupby(group)[column].mean().index)
    for index, year in enumerate(list(df.groupby(group)[column].mean())):
        nb=groups[index]
        meanlist[nb]=year
    
    meanmap=df['Neighborhood'].map(meanlist)
    og=df['Garage Yr Blt']
    og=og.where((og.notnull()),meanmap)
    df['Garage Yr Blt']=og
    
    return None

In [29]:
imputer(df,'Neighborhood','Garage Yr Blt')

In [30]:
df[df['Garage Yr Blt']>2100][['Garage Yr Blt','Garage Area']]

      Garage Yr Blt  Garage Area
1699         2207.0        502.0

In [31]:
df.loc[1699,'Garage Yr Blt']=2007

In [32]:
df.reset_index(inplace=True)
df=df.rename({'Screen Porch':'Screen Porch SF','3Ssn Porch':'3Ssn Porch SF','Screen Porch':'Screen Porch SF'},axis=1)
df=df.drop(['index'],axis=1)

In [33]:
train=df

## Test Set

In [34]:
#load the test set for cleaning
df=test

In [35]:
df.columns.values

array(['Id', 'PID', 'MS SubClass', 'MS Zoning', 'Lot Frontage',
       'Lot Area', 'Street', 'Alley', 'Lot Shape', 'Land Contour',
       'Utilities', 'Lot Config', 'Land Slope', 'Neighborhood',
       'Condition 1', 'Condition 2', 'Bldg Type', 'House Style',
       'Overall Qual', 'Overall Cond', 'Year Built', 'Year Remod/Add',
       'Roof Style', 'Roof Matl', 'Exterior 1st', 'Exterior 2nd',
       'Mas Vnr Type', 'Mas Vnr Area', 'Exter Qual', 'Exter Cond',
       'Foundation', 'Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure',
       'BsmtFin Type 1', 'BsmtFin SF 1', 'BsmtFin Type 2', 'BsmtFin SF 2',
       'Bsmt Unf SF', 'Total Bsmt SF', 'Heating', 'Heating QC',
       'Central Air', 'Electrical', '1st Flr SF', '2nd Flr SF',
       'Low Qual Fin SF', 'Gr Liv Area', 'Bsmt Full Bath',
       'Bsmt Half Bath', 'Full Bath', 'Half Bath', 'Bedroom AbvGr',
       'Kitchen AbvGr', 'Kitchen Qual', 'TotRms AbvGrd', 'Functional',
       'Fireplaces', 'Fireplace Qu', 'Garage Type', 'Garage Yr Blt',
       'Garage Finish', 'Garage Cars', 'Garage Area', 'Garage Qual',
       'Garage Cond', 'Paved Drive', 'Wood Deck SF', 'Open Porch SF',
       'Enclosed Porch', '3Ssn Porch', 'Screen Porch', 'Pool Area',
       'Pool QC', 'Fence', 'Misc Feature', 'Misc Val', 'Mo Sold',
       'Yr Sold', 'Sale Type', 'SalePrice'], dtype=object)

In [36]:
#splitting column names to make cleaning easier to manage
land_f=['Id', 'PID', 'MS SubClass', 'MS Zoning', 'Lot Frontage', 'Lot Area',
       'Street', 'Alley', 'Lot Shape', 'Land Contour', 'Utilities',
       'Lot Config', 'Land Slope', 'Neighborhood','Condition 1','Condition 2']
over_f=['Bldg Type', 'House Style', 'Overall Qual',
       'Overall Cond', 'Year Built', 'Year Remod/Add']
roof_f=['Roof Style',
       'Roof Matl', 'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type',
       'Mas Vnr Area', 'Exter Qual', 'Exter Cond']
bsmt_f=['Foundation', 'Bsmt Qual',
       'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin SF 1',
       'BsmtFin Type 2', 'BsmtFin SF 2', 'Bsmt Unf SF', 'Total Bsmt SF']
util_f=['Heating', 'Heating QC', 'Central Air', 'Electrical']
sqf_f=['1st Flr SF',
       '2nd Flr SF', 'Low Qual Fin SF', 'Gr Liv Area']
btrm_f=['Bsmt Full Bath',
       'Bsmt Half Bath', 'Full Bath', 'Half Bath']
rm_f=['Bedroom AbvGr',
       'Kitchen AbvGr', 'Kitchen Qual', 'TotRms AbvGrd']
func_f=['Functional',
       'Fireplaces', 'Fireplace Qu', 'Garage Type', 'Garage Yr Blt',
       'Garage Finish', 'Garage Cars', 'Garage Area', 'Garage Qual',
       'Garage Cond', 'Paved Drive', 'Wood Deck SF', 'Open Porch SF',
       'Enclosed Porch', '3Ssn Porch', 'Screen Porch', 'Pool Area', 'Pool QC',
       'Fence','Misc Feature', 'Misc Val']
sale_f=['Mo Sold', 'Yr Sold', 'Sale Type']

In [37]:
featuresets=[land_f,over_f,roof_f,bsmt_f,util_f,sqf_f,btrm_f,rm_f,func_f,sale_f]

In [38]:
#iterating through the features
for featureset in featuresets:
    for feature in featureset:
        print('Feature name:{}\n Type:{}\nIsnull?:'.format(feature,df[feature].dtypes))
        display(df[feature].isnull().sum())
        #display(df[feature].describe())
        display(df[feature].value_counts())

Feature name:Id
 Type:int64
Isnull?:

0

2721    1
519     1
2589    1
540     1
2587    1
2584    1
534     1
532     1
530     1
2576    1
2571    1
2570    1
521     1
2564    1
2543    1
2563    1
2561    1
511     1
597     1
2557    1
508     1
2555    1
506     1
503     1
501     1
500     1
2591    1
2597    1
551     1
552     1
       ..
1101    1
1099    1
267     1
1159    1
1161    1
1167    1
1241    1
1240    1
1239    1
1235    1
1234    1
1231    1
1229    1
1227    1
682     1
1220    1
1219    1
1214    1
1211    1
1204    1
1201    1
1199    1
2656    1
1195    1
1191    1
1189    1
1188    1
1174    1
1171    1
2       1
Name: Id, Length: 879, dtype: int64

Feature name:PID
 Type:int64
Isnull?:

0

532353020    1
534204030    1
902107030    1
906382040    1
902202070    1
923251160    1
903232100    1
534252240    1
906382030    1
535153150    1
902329030    1
535354050    1
535403200    1
905401020    1
527301280    1
907265030    1
528315060    1
902206130    1
902306120    1
903228080    1
903232170    1
527165010    1
921128020    1
534127270    1
532376170    1
916477010    1
905104090    1
917425190    1
535452100    1
905108190    1
            ..
535457090    1
904351040    1
903458170    1
906420020    1
531453040    1
527451520    1
908275130    1
909254070    1
924100020    1
909254090    1
534128050    1
923229140    1
905475500    1
905476230    1
902101010    1
907290020    1
909131170    1
909426080    1
535327160    1
535453080    1
923205015    1
534128020    1
908275090    1
528326030    1
909426060    1
534128010    1
528240150    1
907270050    1
535451010    1
914475010    1
Name: PID, Length: 879, dtype: int64

Feature name:MS SubClass
 Type:int64
Isnull?:

0

20     309
60     181
50      89
120     60
160     41
70      38
30      38
90      34
80      32
85      20
190     15
75       7
45       7
180      6
40       2
Name: MS SubClass, dtype: int64

Feature name:MS Zoning
 Type:object
Isnull?:

0

RL         675
RM         146
FV          38
RH          13
C (all)      6
I (all)      1
Name: MS Zoning, dtype: int64

Feature name:Lot Frontage
 Type:float64
Isnull?:

160

60.0     97
80.0     43
70.0     37
75.0     37
50.0     27
85.0     24
65.0     22
21.0     18
24.0     16
68.0     16
90.0     15
78.0     13
64.0     12
51.0     11
55.0     10
79.0      9
63.0      9
72.0      9
59.0      9
76.0      9
74.0      8
73.0      8
61.0      8
86.0      8
52.0      8
44.0      7
82.0      7
66.0      7
40.0      7
35.0      6
         ..
49.0      2
39.0      2
32.0      2
92.0      2
160.0     2
149.0     2
126.0     1
114.0     1
28.0      1
97.0      1
91.0      1
182.0     1
131.0     1
103.0     1
113.0     1
46.0      1
116.0     1
136.0     1
101.0     1
152.0     1
30.0      1
37.0      1
106.0     1
168.0     1
174.0     1
122.0     1
150.0     1
31.0      1
112.0     1
133.0     1
Name: Lot Frontage, Length: 104, dtype: int64

Feature name:Lot Area
 Type:int64
Isnull?:

0

7200     16
9000     11
8400     10
9600     10
6120      9
6000      8
9750      7
8125      6
10800     6
6240      5
9375      5
8750      4
8000      4
8640      4
10000     4
1680      4
8450      4
1890      4
11250     4
7000      4
11700     3
9120      3
7500      3
13125     3
10125     3
9100      3
9571      3
10440     3
4426      3
5000      3
         ..
6762      1
12925     1
2665      1
4712      1
7848      1
13159     1
12900     1
8803      1
12898     1
7804      1
26178     1
29959     1
4750      1
7838      1
15870     1
3735      1
8854      1
10900     1
28698     1
5775      1
12640     1
13200     1
2179      1
10274     1
10890     1
8235      1
9863      1
8838      1
9758      1
3072      1
Name: Lot Area, Length: 690, dtype: int64

Feature name:Street
 Type:object
Isnull?:

0

Pave    874
Grvl      5
Name: Street, dtype: int64

Feature name:Alley
 Type:object
Isnull?:

821

Grvl    35
Pave    23
Name: Alley, dtype: int64

Feature name:Lot Shape
 Type:object
Isnull?:

0

Reg    564
IR1    287
IR2     21
IR3      7
Name: Lot Shape, dtype: int64

Feature name:Land Contour
 Type:object
Isnull?:

0

Lvl    790
Bnk     37
HLS     35
Low     17
Name: Land Contour, dtype: int64

Feature name:Utilities
 Type:object
Isnull?:

0

AllPub    878
NoSewr      1
Name: Utilities, dtype: int64

Feature name:Lot Config
 Type:object
Isnull?:

0

Inside     637
Corner     163
CulDSac     49
FR2         25
FR3          5
Name: Lot Config, dtype: int64

Feature name:Land Slope
 Type:object
Isnull?:

0

Gtl    836
Mod     37
Sev      6
Name: Land Slope, dtype: int64

Feature name:Neighborhood
 Type:object
Isnull?:

0

NAmes      133
CollgCr     87
OldTown     76
Somerst     52
Edwards     51
Gilbert     49
NridgHt     44
NWAmes      44
Sawyer      40
SawyerW     38
Mitchel     32
BrkSide     32
Crawfor     32
IDOTRR      24
Timber      24
NoRidge     23
ClearCr     17
SWISU       16
StoneBr     13
MeadowV     13
BrDale      11
Veenker      7
Blmngtn      6
NPkVill      6
Greens       5
Blueste      4
Name: Neighborhood, dtype: int64

Feature name:Condition 1
 Type:object
Isnull?:

0

Norm      755
Feedr      55
Artery     22
RRAn       14
PosN       12
PosA        8
RRAe        7
RRNe        3
RRNn        3
Name: Condition 1, dtype: int64

Feature name:Condition 2
 Type:object
Isnull?:

0

Norm     875
Feedr      2
PosA       1
PosN       1
Name: Condition 2, dtype: int64

Feature name:Bldg Type
 Type:object
Isnull?:

0

1Fam      725
TwnhsE     72
Duplex     34
Twnhs      32
2fmCon     16
Name: Bldg Type, dtype: int64

Feature name:House Style
 Type:object
Isnull?:

0

1Story    422
2Story    275
1.5Fin     96
SLvl       34
SFoyer     33
2.5Unf     10
1.5Unf      7
2.5Fin      2
Name: House Style, dtype: int64

Feature name:Overall Qual
 Type:int64
Isnull?:

0

5     262
6     226
7     171
8     100
4      67
9      30
3      11
10      8
2       4
Name: Overall Qual, dtype: int64

Feature name:Overall Cond
 Type:int64
Isnull?:

0

5    486
6    165
7    120
8     43
4     31
3     15
9     12
2      4
1      3
Name: Overall Cond, dtype: int64

Feature name:Year Built
 Type:int64
Isnull?:

0

2005    40
2006    39
2007    31
2004    27
2003    24
1977    19
1920    19
1910    17
1972    17
1954    15
1999    15
1976    15
1997    15
1970    15
1960    14
1968    13
1971    13
1958    13
1993    13
1967    13
2008    13
1959    12
1925    12
1957    12
1969    12
2000    12
1998    12
1956    11
1963    11
1994    11
        ..
1919     3
1947     3
1990     3
1921     2
1916     2
1912     2
1890     2
2010     2
1880     2
1932     2
1936     2
1937     2
1989     2
1983     2
1986     2
1904     1
1882     1
1885     1
1892     1
1987     1
1902     1
1927     1
1905     1
1906     1
1928     1
1908     1
1914     1
1917     1
1934     1
1907     1
Name: Year Built, Length: 106, dtype: int64

Feature name:Year Remod/Add
 Type:int64
Isnull?:

0

1950    99
2006    63
2007    41
2005    41
2000    35
2003    31
1998    28
2004    28
2008    26
2002    23
1997    20
1995    18
1996    17
1976    16
1977    15
1999    14
2001    14
1972    14
1994    13
1992    13
1970    13
1971    13
1967    12
2009    11
1954    11
1963    11
1968    11
1965    10
1969    10
1980    10
        ..
1993    10
1959     9
1964     9
1974     9
1960     9
1979     8
1966     8
1956     8
1973     8
1978     8
1984     7
1961     7
1955     7
1981     7
1962     6
1958     6
1952     6
1990     6
1982     6
1957     5
1985     5
2010     5
1989     4
1987     4
1986     4
1975     4
1983     4
1951     4
1988     3
1953     2
Name: Year Remod/Add, Length: 61, dtype: int64

Feature name:Roof Style
 Type:object
Isnull?:

0

Gable      702
Hip        154
Gambrel     10
Flat         7
Mansard      4
Shed         2
Name: Roof Style, dtype: int64

Feature name:Roof Matl
 Type:object
Isnull?:

0

CompShg    862
Tar&Grv      8
WdShake      5
WdShngl      2
Metal        1
Roll         1
Name: Roof Matl, dtype: int64

Feature name:Exterior 1st
 Type:object
Isnull?:

0

VinylSd    302
Wd Sdng    144
HdBoard    142
MetalSd    119
Plywood     69
CemntBd     36
BrkFace     24
Stucco      16
AsbShng     11
WdShing     11
BrkComm      3
AsphShn      1
PreCast      1
Name: Exterior 1st, dtype: int64

Feature name:Exterior 2nd
 Type:object
Isnull?:

0

VinylSd    294
Wd Sdng    135
HdBoard    131
MetalSd    123
Plywood     89
CmentBd     36
Wd Shng     18
Stucco      17
BrkFace     13
AsbShng     10
Brk Cmn      5
ImStucc      4
Other        1
AsphShn      1
CBlock       1
PreCast      1
Name: Exterior 2nd, dtype: int64

Feature name:Mas Vnr Type
 Type:object
Isnull?:

1

None       534
BrkFace    250
Stone       81
BrkCmn      12
CBlock       1
Name: Mas Vnr Type, dtype: int64

Feature name:Mas Vnr Area
 Type:float64
Isnull?:

1

0.0       532
216.0       7
80.0        5
196.0       5
420.0       5
340.0       4
144.0       4
120.0       4
176.0       3
50.0        3
149.0       3
302.0       3
270.0       3
194.0       3
306.0       3
128.0       3
456.0       3
240.0       3
200.0       3
90.0        3
198.0       3
88.0        3
180.0       3
285.0       3
182.0       3
156.0       2
423.0       2
147.0       2
206.0       2
161.0       2
         ...
600.0       1
142.0       1
34.0        1
568.0       1
172.0       1
247.0       1
405.0       1
1159.0      1
525.0       1
657.0       1
771.0       1
501.0       1
295.0       1
261.0       1
399.0       1
481.0       1
435.0       1
259.0       1
11.0        1
473.0       1
415.0       1
674.0       1
359.0       1
921.0       1
634.0       1
464.0       1
312.0       1
101.0       1
238.0       1
264.0       1
Name: Mas Vnr Area, Length: 233, dtype: int64

Feature name:Exter Qual
 Type:object
Isnull?:

0

TA    552
Gd    292
Ex     26
Fa      9
Name: Exter Qual, dtype: int64

Feature name:Exter Cond
 Type:object
Isnull?:

0

TA    771
Gd     84
Fa     18
Ex      5
Po      1
Name: Exter Cond, dtype: int64

Feature name:Foundation
 Type:object
Isnull?:

0

PConc     384
CBlock    381
BrkTil     90
Slab       15
Stone       6
Wood        3
Name: Foundation, dtype: int64

Feature name:Bsmt Qual
 Type:object
Isnull?:

25

TA    396
Gd    355
Ex     74
Fa     28
Po      1
Name: Bsmt Qual, dtype: int64

Feature name:Bsmt Cond
 Type:object
Isnull?:

25

TA    782
Fa     39
Gd     33
Name: Bsmt Cond, dtype: int64

Feature name:Bsmt Exposure
 Type:object
Isnull?:

25

No    567
Av    130
Gd     81
Mn     76
Name: Bsmt Exposure, dtype: int64

Feature name:BsmtFin Type 1
 Type:object
Isnull?:

25

Unf    248
GLQ    244
ALQ    136
Rec    105
BLQ     69
LwQ     52
Name: BsmtFin Type 1, dtype: int64

Feature name:BsmtFin SF 1
 Type:int64
Isnull?:

0

0       273
24       10
16        4
936       4
602       4
662       4
600       4
595       3
288       3
329       3
560       3
375       3
480       3
483       3
500       3
504       3
250       3
520       3
767       3
192       3
196       3
220       3
168       3
663       2
1573      2
724       2
552       2
550       2
546       2
547       2
       ...
853       1
553       1
554       1
559       1
852       1
562       1
850       1
518       1
515       1
513       1
486       1
880       1
471       1
472       1
336       1
1500      1
421       1
876       1
873       1
490       1
512       1
491       1
493       1
498       1
1334      1
502       1
503       1
505       1
509       1
1022      1
Name: BsmtFin SF 1, Length: 463, dtype: int64

Feature name:BsmtFin Type 2
 Type:object
Isnull?:

25

Unf    750
LwQ     29
Rec     26
BLQ     20
ALQ     18
GLQ     11
Name: BsmtFin Type 2, dtype: int64

Feature name:BsmtFin SF 2
 Type:int64
Isnull?:

0

0       775
147       2
435       2
287       2
480       2
391       2
180       2
168       2
182       2
374       2
78        1
250       1
252       1
264       1
276       1
32        1
279       1
1031      1
288       1
319       1
336       1
337       1
344       1
1029      1
350       1
352       1
360       1
362       1
243       1
63        1
       ...
841       1
873       1
884       1
904       1
912       1
972       1
679       1
668       1
634       1
630       1
398       1
400       1
402       1
438       1
448       1
449       1
453       1
456       1
468       1
472       1
491       1
492       1
1526      1
512       1
530       1
543       1
544       1
606       1
627       1
393       1
Name: BsmtFin SF 2, Length: 96, dtype: int64

Feature name:Bsmt Unf SF
 Type:int64
Isnull?:

0

0       79
270      7
396      5
840      5
572      5
100      5
384      5
392      4
108      4
115      4
416      4
546      4
440      4
641      4
186      4
600      4
728      4
490      4
491      4
168      3
625      3
150      3
720      3
780      3
784      3
132      3
130      3
264      3
616      3
244      3
        ..
1696     1
1498     1
578      1
512      1
605      1
513      1
1541     1
519      1
1544     1
523      1
1550     1
1068     1
530      1
534      1
535      1
537      1
540      1
545      1
1571     1
554      1
555      1
1632     1
560      1
563      1
1588     1
567      1
569      1
575      1
576      1
439      1
Name: Bsmt Unf SF, Length: 563, dtype: int64

Feature name:Total Bsmt SF
 Type:int64
Isnull?:

0

0       25
864     23
768     10
672      9
780      9
912      9
960      7
720      7
728      7
832      7
840      7
848      7
894      7
546      7
816      6
630      6
384      6
936      6
952      5
756      5
1008     5
1040     5
1056     5
691      4
784      4
941      4
975      4
938      4
483      4
858      4
        ..
710      1
712      1
752      1
654      1
651      1
648      1
1629     1
1696     1
2000     1
845      1
1615     1
592      1
1617     1
1618     1
1622     1
1625     1
1626     1
608      1
644      1
612      1
702      1
841      1
621      1
625      1
629      1
1657     1
635      1
636      1
1664     1
1553     1
Name: Total Bsmt SF, Length: 527, dtype: int64

Feature name:Heating
 Type:object
Isnull?:

0

GasA     867
GasW       7
Grav       4
Floor      1
Name: Heating, dtype: int64

Feature name:Heating QC
 Type:object
Isnull?:

0

Ex    430
TA    267
Gd    157
Fa     25
Name: Heating QC, dtype: int64

Feature name:Central Air
 Type:object
Isnull?:

0

Y    824
N     55
Name: Central Air, dtype: int64

Feature name:Electrical
 Type:object
Isnull?:

1

SBrkr    814
FuseA     48
FuseF     15
FuseP      1
Name: Electrical, dtype: int64

Feature name:1st Flr SF
 Type:int64
Isnull?:

0

864     15
848      7
894      7
672      7
840      6
546      6
1226     6
630      6
960      6
912      6
1040     6
774      5
832      5
816      5
958      5
936      5
780      4
810      4
768      4
720      4
728      4
792      4
796      4
756      4
925      4
1145     4
1144     4
882      4
884      4
892      4
        ..
687      1
689      1
1664     1
1661     1
1660     1
628      1
561      1
565      1
1604     1
1608     1
585      1
1610     1
1614     1
1615     1
1617     1
1618     1
1619     1
1620     1
599      1
1630     1
608      1
612      1
2117     1
1643     1
1645     1
1646     1
1647     1
625      1
2674     1
1571     1
Name: 1st Flr SF, Length: 561, dtype: int64

Feature name:2nd Flr SF
 Type:int64
Isnull?:

0

0       487
546      11
840       5
720       5
676       4
672       4
780       4
878       4
714       3
728       3
756       3
1012      3
600       3
850       3
378       3
656       3
793       3
504       3
871       3
900       3
800       3
742       2
744       2
832       2
739       2
809       2
748       2
807       2
768       2
830       2
       ...
564       1
558       1
557       1
625       1
943       1
631       1
933       1
695       1
919       1
920       1
925       1
682       1
678       1
926       1
674       1
930       1
671       1
668       1
638       1
665       1
662       1
661       1
660       1
939       1
1017      1
649       1
646       1
644       1
640       1
1020      1
Name: 2nd Flr SF, Length: 286, dtype: int64

Feature name:Low Qual Fin SF
 Type:int64
Isnull?:

0

0      872
481      1
431      1
420      1
392      1
360      1
232      1
80       1
Name: Low Qual Fin SF, dtype: int64

Feature name:Gr Liv Area
 Type:int64
Isnull?:

0

864     16
1092     7
848      6
816      5
1218     5
1456     5
894      5
1040     5
1358     4
1268     4
925      4
1436     4
1302     4
630      4
882      4
1728     4
1668     4
1392     4
1224     4
1056     4
936      4
1314     3
960      3
1470     3
858      3
1472     3
1440     3
1560     3
1553     3
1530     3
        ..
1572     1
1571     1
1570     1
1568     1
1808     1
1518     1
2544     1
2522     1
1524     1
2550     1
2551     1
2552     1
1771     1
1535     1
1536     1
943      1
893      1
1541     1
1902     1
1548     1
1549     1
1550     1
1554     1
2494     1
1557     1
1958     1
1563     1
1564     1
2362     1
1024     1
Name: Gr Liv Area, Length: 622, dtype: int64

Feature name:Bsmt Full Bath
 Type:int64
Isnull?:

0

0    507
1    357
2     15
Name: Bsmt Full Bath, dtype: int64

Feature name:Bsmt Half Bath
 Type:int64
Isnull?:

0

0    830
1     49
Name: Bsmt Half Bath, dtype: int64

Feature name:Full Bath
 Type:int64
Isnull?:

0

2    436
1    418
3     19
0      4
4      2
Name: Full Bath, dtype: int64

Feature name:Half Bath
 Type:int64
Isnull?:

0

0    535
1    337
2      7
Name: Half Bath, dtype: int64

Feature name:Bedroom AbvGr
 Type:int64
Isnull?:

0

3    489
2    199
4    135
1     37
6      9
5      7
0      3
Name: Bedroom AbvGr, dtype: int64

Feature name:Kitchen AbvGr
 Type:int64
Isnull?:

0

1    836
2     41
3      1
0      1
Name: Kitchen AbvGr, dtype: int64

Feature name:Kitchen Qual
 Type:object
Isnull?:

0

TA    447
Gd    354
Ex     54
Fa     23
Po      1
Name: Kitchen Qual, dtype: int64

Feature name:TotRms AbvGrd
 Type:int64
Isnull?:

0

6     247
5     179
7     174
8     119
4      57
9      45
10     31
3      14
11     10
12      3
Name: TotRms AbvGrd, dtype: int64

Feature name:Functional
 Type:object
Isnull?:

0

Typ     813
Min2     28
Min1     23
Maj1      7
Mod       6
Maj2      2
Name: Functional, dtype: int64

Feature name:Fireplaces
 Type:int64
Isnull?:

0

0    422
1    376
2     75
3      6
Name: Fireplaces, dtype: int64

Feature name:Fireplace Qu
 Type:object
Isnull?:

422

Gd    221
TA    193
Fa     16
Po     15
Ex     12
Name: Fireplace Qu, dtype: int64

Feature name:Garage Type
 Type:object
Isnull?:

44

Attchd     518
Detchd     246
BuiltIn     54
Basment      9
2Types       4
CarPort      4
Name: Garage Type, dtype: int64

Feature name:Garage Yr Blt
 Type:float64
Isnull?:

45

2005.0    37
2006.0    35
2007.0    31
2004.0    27
2003.0    26
1977.0    20
1950.0    19
1997.0    18
2008.0    17
1993.0    16
1974.0    16
1968.0    16
1960.0    16
1976.0    15
1999.0    15
1957.0    14
2001.0    14
1994.0    14
1969.0    14
1998.0    14
1980.0    14
2000.0    14
1959.0    13
2002.0    13
1963.0    12
2009.0    12
1970.0    12
1920.0    12
1954.0    12
1961.0    11
          ..
1949.0     4
1953.0     4
1983.0     4
1946.0     4
1941.0     4
1924.0     4
2010.0     3
1975.0     3
1982.0     3
1915.0     3
1986.0     3
1900.0     3
1922.0     2
1947.0     2
1937.0     2
1987.0     2
1934.0     2
1918.0     2
1932.0     2
1906.0     1
1917.0     1
1935.0     1
1923.0     1
1943.0     1
1908.0     1
1916.0     1
1927.0     1
1931.0     1
1928.0     1
1921.0     1
Name: Garage Yr Blt, Length: 93, dtype: int64

Feature name:Garage Finish
 Type:object
Isnull?:

45

Unf    382
RFn    233
Fin    219
Name: Garage Finish, dtype: int64

Feature name:Garage Cars
 Type:int64
Isnull?:

0

2    467
1    254
3    111
0     44
4      3
Name: Garage Cars, dtype: int64

Feature name:Garage Area
 Type:int64
Isnull?:

0

0       44
576     28
440     26
484     24
240     24
528     19
264     18
308     16
400     15
480     15
286     11
420     11
336     11
495      8
506      8
384      8
216      7
288      7
460      6
672      6
390      6
360      6
462      6
280      6
300      5
525      5
520      5
352      5
252      5
588      5
        ..
413      1
412      1
800      1
444      1
773      1
713      1
749      1
714      1
366      1
482      1
481      1
478      1
476      1
732      1
740      1
468      1
747      1
465      1
765      1
464      1
463      1
753      1
754      1
756      1
459      1
456      1
455      1
454      1
453      1
1014     1
Name: Garage Area, Length: 357, dtype: int64

Feature name:Garage Qual
 Type:object
Isnull?:

45

TA    783
Fa     42
Gd      6
Po      3
Name: Garage Qual, dtype: int64

Feature name:Garage Cond
 Type:object
Isnull?:

45

TA    797
Fa     27
Po      6
Gd      3
Ex      1
Name: Garage Cond, dtype: int64

Feature name:Paved Drive
 Type:object
Isnull?:

0

Y    791
N     65
P     23
Name: Paved Drive, dtype: int64

Feature name:Wood Deck SF
 Type:int64
Isnull?:

0

0      451
192     27
100     21
168     20
144     15
120     13
240      8
208      7
180      7
140      6
133      5
171      4
150      4
156      4
135      4
172      4
182      4
40       4
210      4
176      3
160      3
200      3
204      3
142      3
212      3
174      3
149      3
72       3
127      3
76       3
      ...
344      1
262      1
335      1
331      1
330      1
328      1
158      1
326      1
161      1
164      1
165      1
325      1
169      1
170      1
324      1
173      1
320      1
175      1
319      1
177      1
178      1
179      1
181      1
315      1
312      1
306      1
188      1
190      1
305      1
690      1
Name: Wood Deck SF, Length: 210, dtype: int64

Feature name:Open Porch SF
 Type:int64
Isnull?:

0

0      388
28      17
36      14
24      13
48      12
39      10
40      10
42      10
64       9
20       9
32       9
50       9
78       8
45       8
35       8
38       8
30       8
84       7
68       7
63       7
98       7
60       7
56       6
90       6
75       6
72       6
44       5
26       5
116      5
114      5
      ...
139      1
122      1
124      1
126      1
138      1
131      1
137      1
133      1
165      1
166      1
92       1
91       1
201      1
62       1
198      1
195      1
134      1
66       1
193      1
189      1
73       1
178      1
177      1
175      1
174      1
83       1
172      1
170      1
89       1
742      1
Name: Open Porch SF, Length: 163, dtype: int64

Feature name:Enclosed Porch
 Type:int64
Isnull?:

0

0       747
112       9
144       5
168       4
192       4
116       3
120       3
126       3
96        3
102       3
248       3
80        3
140       2
150       2
160       2
84        2
224       2
190       2
169       2
60        2
180       2
55        2
239       2
240       2
42        2
252       2
41        2
40        2
108       2
32        2
       ...
334       1
293       1
290       1
286       1
264       1
254       1
244       1
242       1
238       1
231       1
228       1
221       1
220       1
218       1
209       1
208       1
205       1
202       1
196       1
185       1
184       1
183       1
170       1
164       1
584       1
386       1
137       1
132       1
128       1
1012      1
Name: Enclosed Porch, Length: 83, dtype: int64

Feature name:3Ssn Porch
 Type:int64
Isnull?:

0

0      868
360      1
320      1
238      1
225      1
219      1
216      1
196      1
180      1
174      1
130      1
23       1
Name: 3Ssn Porch, dtype: int64

Feature name:Screen Porch
 Type:int64
Isnull?:

0

0      804
200      4
144      4
192      4
160      4
256      3
216      3
120      3
115      2
153      2
156      2
168      2
263      1
126      1
123      1
121      1
119      1
117      1
116      1
110      1
112      1
138      1
108      1
100      1
99       1
92       1
90       1
80       1
63       1
60       1
40       1
128      1
155      1
287      1
196      1
228      1
227      1
225      1
221      1
204      1
266      1
198      1
197      1
195      1
259      1
273      1
189      1
185      1
184      1
178      1
175      1
166      1
288      1
576      1
Name: Screen Porch, dtype: int64

Feature name:Pool Area
 Type:int64
Isnull?:

0

0      875
555      1
512      1
444      1
144      1
Name: Pool Area, dtype: int64

Feature name:Pool QC
 Type:object
Isnull?:

875

Ex    3
TA    1
Name: Pool QC, dtype: int64

Feature name:Fence
 Type:object
Isnull?:

707

MnPrv    103
GdPrv     35
GdWo      32
MnWw       2
Name: Fence, dtype: int64

Feature name:Misc Feature
 Type:object
Isnull?:

838

Shed    39
Othr     1
Gar2     1
Name: Misc Feature, dtype: int64

Feature name:Misc Val
 Type:int64
Isnull?:

0

0        841
400        6
500        5
450        4
700        3
650        2
600        2
2000       2
1500       2
420        1
15500      1
1200       1
350        1
1400       1
1000       1
480        1
490        1
560        1
620        1
750        1
1512       1
Name: Misc Val, dtype: int64

Feature name:Mo Sold
 Type:int64
Isnull?:

0

6     153
7     146
5     138
4      71
8      66
3      64
9      52
10     50
1      44
11     40
2      29
12     26
Name: Mo Sold, dtype: int64

Feature name:Yr Sold
 Type:int64
Isnull?:

0

2009    202
2007    196
2008    187
2006    187
2010    107
Name: Yr Sold, dtype: int64

Feature name:Sale Type
 Type:object
Isnull?:

0

WD       755
New       79
COD       24
ConLD      9
Oth        3
ConLw      3
CWD        2
ConLI      2
Con        1
VWD        1
Name: Sale Type, dtype: int64

In [39]:
df['Alley'].value_counts()

Grvl    35
Pave    23
Name: Alley, dtype: int64

In [40]:
df['Lot Frontage']=df['Lot Frontage'].fillna(0)

In [41]:
df['Mas Vnr Type']=df['Mas Vnr Type'].fillna('None')

In [42]:
df['Mas Vnr Area']=df['Mas Vnr Area'].fillna(0.0)

In [43]:
df[(df['Misc Feature']==df['Misc Feature'])&(df['Misc Val']==0)]
#to drop?

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
220,1964,535453080,20,RL,0.0,7500,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,Shed,0,7,2007,WD,0.0
343,676,535450070,40,RL,60.0,12144,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,Othr,0,9,2009,WD,0.0
542,2361,527402380,20,RL,71.0,9353,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,Shed,0,7,2006,Oth,0.0

In [44]:
df[df['Misc Feature']=='Shed']

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
29,1904,534451020,50,RL,51.0,3500,Pave,NaN,Reg,Lvl,...,0,0,NaN,MnPrv,Shed,2000,7,2007,WD,0.0
43,647,535351050,20,RL,75.0,14559,Pave,NaN,Reg,Lvl,...,168,0,NaN,NaN,Shed,2000,6,2009,WD,0.0
79,1887,534276290,20,RL,0.0,8339,Pave,NaN,IR1,Lvl,...,0,0,NaN,MnPrv,Shed,1200,7,2007,WD,0.0
84,2817,908102020,70,RL,67.0,8777,Pave,NaN,Reg,Bnk,...,0,0,NaN,NaN,Shed,420,10,2006,WD,0.0
85,1431,906476030,60,RL,79.0,12798,Pave,NaN,IR1,HLS,...,0,0,NaN,NaN,Shed,400,5,2008,WD,0.0
102,1249,535303030,20,RL,95.0,14250,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,Shed,1500,9,2008,WD,0.0
134,135,535101020,85,RL,75.0,11380,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,Shed,1500,1,2010,WD,0.0
144,1014,527226020,20,RL,0.0,31220,Pave,NaN,IR1,Bnk,...,0,0,NaN,NaN,Shed,750,5,2008,WD,0.0
148,261,907200290,60,RL,0.0,10900,Pave,NaN,IR1,Lvl,...,0,0,NaN,MnPrv,Shed,450,3,2010,WD,0.0
175,1007,527164120,60,RL,0.0,10832,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,Shed,500,10,2008,WD,0.0
194,1154,532377020,20,RL,60.0,6360,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,Shed,650,1,2008,COD,0.0
203,2711,905103180,80,RL,80.0,10366,Pave,NaN,IR1,Lvl,...,0,0,NaN,GdPrv,Shed,500,7,2006,WD,0.0
220,1964,535453080,20,RL,0.0,7500,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,Shed,0,7,2007,WD,0.0
222,159,535377090,90,RL,64.0,6979,Pave,NaN,Reg,Lvl,...,0,0,NaN,GdPrv,Shed,600,6,2010,WD,0.0
307,1571,916125425,190,RL,0.0,164660,Grvl,NaN,IR1,HLS,...,0,0,NaN,NaN,Shed,700,8,2008,WD,0.0
315,291,909177100,90,RH,60.0,7200,Pave,Pave,Reg,Lvl,...,0,0,NaN,NaN,Shed,500,2,2010,WD,0.0
400,1558,911226010,30,C (all),120.0,18000,Grvl,NaN,Reg,Low,...,0,0,NaN,NaN,Shed,560,8,2008,ConLD,0.0
422,2589,535325350,20,RL,80.0,13600,Pave,NaN,Reg,Bnk,...,0,0,NaN,MnPrv,Shed,650,11,2006,WD,0.0
424,1334,903225160,70,RM,59.0,5870,Pave,NaN,Reg,Lvl,...,0,0,NaN,MnPrv,Shed,400,4,2008,WD,0.0
494,583,534128010,60,RL,0.0,10382,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,Shed,350,11,2009,WD,0.0
499,1610,924100020,60,RL,0.0,11075,Pave,NaN,IR1,Lvl,...,0,0,NaN,MnPrv,Shed,400,9,2008,WD,0.0
511,235,905378040,50,RL,124.0,18600,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,Shed,450,6,2010,WD,0.0
542,2361,527402380,20,RL,71.0,9353,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,Shed,0,7,2006,Oth,0.0
579,2066,905225020,60,RL,99.0,16779,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,Shed,500,5,2007,WD,0.0
586,1240,535153150,20,RL,76.0,9120,Pave,NaN,Reg,Lvl,...,288,0,NaN,NaN,Shed,1400,11,2008,WD,0.0
587,85,532354090,85,RL,88.0,11782,Pave,NaN,IR1,Lvl,...,0,0,NaN,MnPrv,Shed,400,6,2010,WD,0.0
588,1823,532376040,20,RL,85.0,6970,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,Shed,400,5,2007,WD,0.0
661,1652,527328020,80,RL,0.0,10395,Pave,NaN,IR1,Lvl,...,0,0,NaN,MnPrv,Shed,500,7,2007,WD,0.0
675,2928,923400125,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,0.0
736,986,923400025,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,...,0,0,NaN,MnPrv,Shed,700,10,2009,WD,0.0
745,358,527163070,60,RL,0.0,9765,Pave,NaN,IR2,Lvl,...,0,0,NaN,NaN,Shed,480,4,2009,WD,0.0
765,1357,903426160,60,RM,57.0,8094,Pave,Grvl,Reg,Lvl,...,0,0,NaN,MnPrv,Shed,1000,9,2008,WD,0.0
767,347,527107130,80,RL,60.0,8400,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,Shed,490,6,2009,WD,0.0
780,2196,909176170,90,RL,60.0,10890,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,Shed,1512,1,2007,WD,0.0
806,2679,903231240,30,RM,51.0,6120,Pave,NaN,Reg,Lvl,...,120,0,NaN,MnPrv,Shed,620,7,2006,WD,0.0
818,1980,902125120,30,RM,60.0,10800,Pave,Grvl,Reg,Lvl,...,0,0,NaN,NaN,Shed,450,8,2007,WD,0.0
836,1150,532351050,20,RL,70.0,9100,Pave,NaN,Reg,Lvl,...,0,0,NaN,MnPrv,Shed,400,8,2008,WD,0.0
844,2169,908102160,85,RL,75.0,9825,Pave,NaN,Reg,Low,...,0,0,NaN,NaN,Shed,450,8,2007,WD,0.0
869,337,923276250,90,RL,70.0,7700,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,Shed,600,2,2010,WD,0.0

In [45]:
imputer(df,'Neighborhood','Garage Yr Blt')

In [46]:
#reset index to account for dropped entries
df.reset_index(inplace=True)
df=df.rename({'Screen Porch':'Screen Porch SF','3Ssn Porch':'3Ssn Porch SF'},axis=1)
df=df.drop(['index'],axis=1)
test=df

In [47]:
test.shape

(879, 81)

In [48]:
train.shape

(2041, 81)

In [49]:
df=pd.concat([test,train])

In [50]:
print(df.columns[df.isnull().sum()>0])
df[df.columns[df.isnull().sum()>0]]=df[df.columns[df.isnull().sum()>0]].fillna(0)

Index(['Alley', 'Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1',
       'BsmtFin Type 2', 'BsmtFin SF 2', 'Electrical', 'Fireplace Qu',
       'Garage Type', 'Garage Finish', 'Garage Qual', 'Garage Cond', 'Pool QC',
       'Fence', 'Misc Feature'],
      dtype='object')

In [51]:
df.shape

(2920, 81)

In [52]:
dummies=df.columns[[(df[column].dtypes==object) for column in df]]
not_dummies=df.columns[[(df[column].dtypes!=object) for column in df]]

In [53]:
train[dummies]=train[dummies].fillna(0)
for index in range(0,50):
    print(train.groupby(dummies[index])['SalePrice'].describe())
    print ('\n')

            count           mean           std       min       25%       50%  \
MS Zoning
A (agr)       2.0   47300.000000  48366.103833   13100.0   30200.0   47300.0
C (all)      19.0   78010.894737  32781.478897   34900.0   50913.5   75000.0
FV          101.0  218618.316832  53063.423791  144152.0  176500.0  208900.0
I (all)       1.0   57625.000000           NaN   57625.0   57625.0   57625.0
RH           14.0  148859.571429  35970.877401   82000.0  128500.0  152217.0
RL         1590.0  191070.009434  80347.309229   35000.0  137500.0  172200.0
RM          314.0  129128.152866  50904.970724   12789.0  103100.0  123900.0

                75%       max
MS Zoning
A (agr)     64400.0   81500.0
C (all)    105388.0  140000.0
FV         254900.0  370878.0
I (all)     57625.0   57625.0
RH         180000.0  200000.0
RL         221950.0  611657.0
RM         141000.0  475000.0


         count           mean           std      min       25%       50%  \
Street
Grvl       7.0   86901.428571  38339.739652  50138.0   56809.0   78000.0
Pave    2034.0  181680.511799  79141.696039  12789.0  129925.0  162700.0

             75%       max
Street
Grvl    106175.0  154204.0
Pave    214000.0  611657.0


        count           mean           std      min       25%       50%  \
Alley
0      1901.0  184258.828511  80304.058422  12789.0  130000.0  165000.0
Grvl     85.0  120835.635294  35647.047030  35000.0   99900.0  118000.0
Pave     55.0  174534.709091  46295.412205  40000.0  152000.0  172500.0

            75%       max
Alley
0      217000.0  611657.0
Grvl   142900.0  256000.0
Pave   193900.0  345000.0


            count           mean           std       min       25%       50%  \
Lot Shape
IR1         689.0  211756.574746  83490.299898   52000.0  157000.0  190000.0
IR2          55.0  233954.745455  89824.066055  109000.0  174000.0  217500.0
IR3           9.0  193182.222222  58500.737982   73000.0  163500.0  192140.0
Reg        1288.0  162764.006211  70024.546954   12789.0  120000.0  145000.0

                 75%       max
Lot Shape
IR1        250000.00  611657.0
IR2        247700.00  538000.0
IR3        220000.00  267000.0
Reg        185488.75  582933.0


               count           mean            std      min       25%  \
Land Contour
Bnk             80.0  142868.775000   49275.865018  52500.0  109625.0
HLS             84.0  260809.964286  116551.716298  79275.0  172000.0
Low             43.0  199313.116279   82609.276243  13100.0  143500.0
Lvl           1834.0  178974.082879   75779.266022  12789.0  129500.0

                   50%       75%       max
Land Contour
Bnk           137250.0  170000.0  315000.0
HLS           241000.0  339250.0  552000.0
Low           207000.0  270000.0  385000.0
Lvl           160500.0  211000.0  611657.0


            count           mean           std       min       25%       50%  \
Utilities
AllPub     2039.0  181437.639039  79212.722581   12789.0  129825.0  162500.0
NoSeWa        1.0  137500.000000           NaN  137500.0  137500.0  137500.0
NoSewr        1.0   57625.000000           NaN   57625.0   57625.0   57625.0

                75%       max
Utilities
AllPub     214000.0  611657.0
NoSeWa     137500.0  137500.0
NoSewr      57625.0   57625.0


             count           mean           std      min       25%       50%  \
Lot Config
Corner       348.0  180629.591954  74223.005036  44000.0  132000.0  161000.0
CulDSac      130.0  230788.546154  98798.841357  80000.0  157000.0  214500.0
FR2           60.0  174703.600000  60125.817532  81000.0  132500.0  162250.0
FR3            9.0  198600.000000  91734.412845  79000.0  119900.0  207000.0
Inside      1494.0  177386.376171  77670.453796  12789.0  128000.0  159000.0

                 75%       max
Lot Config
Corner      218209.0  468000.0
CulDSac     269500.0  591587.0
FR2         195750.0  394617.0
FR3         296000.0  315000.0
Inside      206510.0  611657.0


             count           mean            std      min       25%       50%  \
Land Slope
Gtl         1943.0  180232.742151   77854.869397  12789.0  129500.0  160500.0
Mod           88.0  204639.465909  102651.673838  13100.0  135125.0  188250.0
Sev           10.0  194598.000000   85068.824659  61000.0  131250.0  200750.0

                 75%       max
Land Slope
Gtl         212304.5  611657.0
Mod         257682.0  552000.0
Sev         270750.0  302000.0


              count           mean            std       min        25%  \
Neighborhood
Blmngtn        22.0  200417.681818   27447.004922  159895.0  180250.00
Blueste         6.0  144566.666667   26089.589239  121000.0  123925.00
BrDale         19.0  103371.052632   11262.318142   85400.0   93750.00
BrkSide        76.0  127022.697368   34825.975741   39300.0  109375.00
ClearCr        27.0  217490.074074   53479.942309  130000.0  177500.00
CollgCr       180.0  202497.216667   54022.918602  110000.0  164740.00
Crawfor        71.0  205901.211268   60856.738509   90350.0  158250.00
Edwards       143.0  130493.468531   51123.818503   35000.0  101000.00
Gilbert       114.0  189052.570175   32512.203984  133000.0  172043.75
Greens          3.0  188666.666667   18036.999011  170000.0  180000.00
GrnHill         2.0  280000.000000   70710.678119  230000.0  255000.00
IDOTRR         68.0  100370.750000   37677.647833   13100.0   72000.00
Landmrk         1.0  137000.000000            NaN  137000.0  137000.00
MeadowV        24.0  100231.250000   21955.012365   73000.0   84875.00
Mitchel        82.0  167656.707317   41581.768146   81500.0  136375.00
NAmes         309.0  146007.453074   31748.958385   68000.0  128000.00
NPkVill        17.0  140476.470588   10285.762576  120000.0  137500.00
NWAmes         86.0  194961.686047   39730.647939  113000.0  172250.00
NoRidge        48.0  316294.125000   67015.947652  190000.0  279875.00
NridgHt       121.0  323152.272727   93283.501922  154000.0  259000.00
OldTown       162.0  125404.549383   48002.647499   12789.0  105000.00
SWISU          32.0  134758.875000   33074.560117   60000.0  111125.00
Sawyer        110.0  136701.745455   23735.671049   62383.0  124325.00
SawyerW        87.0  187760.160920   50508.254983   82000.0  148491.50
Somerst       129.0  227019.992248   55703.480077  144152.0  180000.00
StoneBr        37.0  327991.297297  129945.896955  130000.0  212000.00
Timber         48.0  241051.354167   70247.203305  137500.0  180375.00
Veenker        17.0  253570.588235   69147.647869  150000.0  192000.00

                   50%        75%       max
Neighborhood
Blmngtn       192250.0  218742.50  264561.0
Blueste       137500.0  159625.00  185000.0
BrDale        105500.0  111875.00  122500.0
BrkSide       128000.0  139975.00  223500.0
ClearCr       225000.0  250500.00  328000.0
CollgCr       200000.0  225250.00  475000.0
Crawfor       199500.0  235250.00  392500.0
Edwards       125000.0  142500.00  415000.0
Gilbert       180750.0  192785.00  377500.0
Greens        190000.0  198000.00  206000.0
GrnHill       280000.0  305000.00  330000.0
IDOTRR        101500.0  125625.00  202500.0
Landmrk       137000.0  137000.00  137000.0
MeadowV        92450.0  117250.00  151400.0
Mitchel       160000.0  188000.00  300000.0
NAmes         141000.0  159000.00  345000.0
NPkVill       143000.0  148500.00  155000.0
NWAmes        185375.0  214562.50  306000.0
NoRidge       300750.0  337750.00  584500.0
NridgHt       318000.0  380000.00  611657.0
OldTown       120000.0  140562.50  475000.0
SWISU         136200.0  157608.50  200000.0
Sawyer        135000.0  149800.00  219000.0
SawyerW       181000.0  222121.50  320000.0
Somerst       223000.0  257500.00  468000.0
StoneBr       319900.0  438780.00  591587.0
Timber        220000.0  281409.75  425000.0
Veenker       260000.0  290000.00  385000.0

              count           mean            std       min       25%  \
Condition 1
Artery         70.0  128765.000000   58285.726961   50000.0  103150.0
Feedr         107.0  143054.887850   45372.005971   35000.0  119750.0
Norm         1759.0  184857.606595   79536.842940   12789.0  131000.0
PosA           12.0  254733.333333   91755.092337  185000.0  188425.0
PosN           27.0  254794.296296  117428.552257  109500.0  172000.0
RRAe           21.0  139685.714286   21115.617105   87000.0  129000.0
RRAn           36.0  172604.777778   55498.209382   79500.0  140150.0
RRNe            3.0  129616.666667   37705.315717   93850.0  109925.0
RRNn            6.0  198208.333333   76223.096347  128000.0  134687.5

                  50%       75%       max
Condition 1
Artery       118950.0  140750.0  475000.0
Feedr        140000.0  160000.0  269500.0
Norm         167000.0  217500.0  611657.0
PosA         216000.0  276425.0  455000.0
PosN         214500.0  295500.0  591587.0
RRAe         142500.0  150000.0  184000.0
RRAn         167250.0  187460.0  336820.0
RRNe         126000.0  147500.0  169000.0
RRNn         184000.0  237250.0  320000.0


              count           mean           std       min       25%  \
Condition 2
Artery          5.0  119050.000000  19445.757892   95000.0  108000.0
Feedr          11.0  129181.818182  40785.581231   79500.0   99500.0
Norm         2016.0  181270.246032  78550.037768   12789.0  130000.0
PosA            3.0  390666.666667  65010.255601  325000.0  358500.0
PosN            3.0  395666.666667  67633.817971  334000.0  359500.0
RRAn            1.0  136905.000000           NaN  136905.0  136905.0
RRNn            2.0   96750.000000  39951.533137   68500.0   82625.0

                  50%       75%       max
Condition 2
Artery       118000.0  128250.0  146000.0
Feedr        128000.0  143250.0  220000.0
Norm         162950.0  214000.0  611657.0
PosA         392000.0  423500.0  455000.0
PosN         385000.0  426500.0  468000.0
RRAn         136905.0  136905.0  136905.0
RRNn          96750.0  110875.0  125000.0


            count           mean           std      min       25%       50%  \
Bldg Type
1Fam       1691.0  185163.086339  81872.915388  12789.0  130500.0  165000.0
2fmCon       46.0  123179.891304  30304.813341  55000.0  101187.5  121200.0
Duplex       74.0  138611.148649  40666.197415  62500.0  118125.0  135500.0
Twnhs        69.0  133100.000000  37977.260030  73000.0  100000.0  134000.0
TwnhsE      161.0  198312.372671  65866.184832  79400.0  147000.0  184000.0

                 75%       max
Bldg Type
1Fam       218918.00  611657.0
2fmCon     139875.00  200000.0
Duplex     147612.25  269500.0
Twnhs      160000.00  230000.0
TwnhsE     234250.00  392500.0


              count           mean            std       min       25%  \
House Style
1.5Fin        217.0  136233.456221   44866.597453   37900.0  113000.0
1.5Unf         12.0  112466.666667   21111.364166   64500.0  107925.0
1Story       1053.0  179583.199430   81547.390813   12789.0  128000.0
2.5Fin          6.0  243666.666667  128464.262216  104000.0  192500.0
2.5Unf         14.0  191785.714286   87041.483100  101000.0  133125.0
2Story        595.0  206540.337815   82395.369900   40000.0  153037.5
SFoyer         50.0  149343.920000   31859.449693   73000.0  130475.0
SLvl           94.0  166248.989362   37262.422556   91000.0  145000.0

                  50%       75%       max
House Style
1.5Fin       128500.0  149000.0  410000.0
1.5Unf       113000.0  122250.0  139400.0
1Story       156000.0  214000.0  611657.0
2.5Fin       198500.0  271250.0  475000.0
2.5Unf       165500.0  212125.0  415000.0
2Story       189000.0  244200.0  584500.0
SFoyer       147500.0  169625.0  224500.0
SLvl         164750.0  177875.0  345000.0


             count           mean            std       min       25%  \
Roof Style
Flat          13.0  191613.076923   61659.734752  113500.0  129000.0
Gable       1611.0  171115.621974   64763.374937   12789.0  128000.0
Gambrel       12.0  138208.333333   66068.524459   40000.0   93725.0
Hip          396.0  224306.146465  112288.792140   50138.0  140000.0
Mansard        7.0  152642.857143   80646.716344   44000.0  108500.0
Shed           2.0  218000.000000   86267.027305  157000.0  187500.0

                 50%       75%       max
Roof Style
Flat        167000.0  242000.0  274970.0
Gable       159000.0  203000.0  475000.0
Gambrel     125250.0  172500.0  259500.0
Hip         180250.0  290000.0  611657.0
Mansard     150000.0  182500.0  292500.0
Shed        218000.0  248500.0  279000.0


            count           mean           std       min       25%       50%  \
Roof Matl
ClyTile       1.0  160000.000000           NaN  160000.0  160000.0  160000.0
CompShg    2015.0  180730.390571  78979.663655   12789.0  129500.0  161000.0
Membran       1.0  241500.000000           NaN  241500.0  241500.0  241500.0
Tar&Grv      15.0  187948.933333  56957.886372  113500.0  137000.0  167000.0
WdShake       4.0  264250.000000  49562.250420  190000.0  262750.0  287250.0
WdShngl       5.0  339400.000000  88618.846754  278000.0  279000.0  280000.0

                75%       max
Roof Matl
ClyTile    160000.0  160000.0
CompShg    213000.0  611657.0
Membran    241500.0  241500.0
Tar&Grv    246382.0  274970.0
WdShake    288750.0  292500.0
WdShngl    385000.0  475000.0


              count           mean            std       min       25%  \
Exterior 1st
AsbShng        33.0  103183.333333   39240.882132   12789.0   87000.0
AsphShn         1.0   82375.000000            NaN   82375.0   82375.0
BrkComm         3.0  131000.000000   62072.538211   60000.0  109000.0
BrkFace        64.0  193055.093750   82166.873564   40000.0  133400.0
CBlock          2.0   93250.000000   16617.009358   81500.0   87375.0
CemntBd        90.0  243429.088889  127073.184582   73000.0  129600.0
HdBoard       300.0  159582.473333   43664.797483   80000.0  130000.0
ImStucc         1.0  262000.000000            NaN  262000.0  262000.0
MetalSd       329.0  153831.544073   67194.322250   35000.0  118500.0
Plywood       151.0  170382.390728   49098.660443   85000.0  139000.0
Stone           2.0  258500.000000   40305.086528  230000.0  244250.0
Stucco         27.0  139712.962963   42402.638689   67000.0  117500.0
VinylSd       719.0  218166.979138   82914.091339   37900.0  165200.0
Wd Sdng       274.0  143015.605839   55070.917965   34900.0  111250.0
WdShing        45.0  155616.822222   65428.695531   64500.0  115000.0

                   50%        75%       max
Exterior 1st
AsbShng       111000.0  129500.00  188000.0
AsphShn        82375.0   82375.00   82375.0
BrkComm       158000.0  166500.00  175000.0
BrkFace       165750.0  238750.00  430000.0
CBlock         93250.0   99125.00  105000.0
CemntBd       243500.0  316078.25  556581.0
HdBoard       153750.0  177925.00  334000.0
ImStucc       262000.0  262000.00  262000.0
MetalSd       137500.0  168000.00  584500.0
Plywood       157000.0  189450.00  345000.0
Stone         258500.0  272750.00  287000.0
Stucco        136500.0  160000.00  235000.0
VinylSd       202900.0  254950.00  611657.0
Wd Sdng       136500.0  160000.00  475000.0
WdShing       137000.0  172500.00  385000.0


              count           mean            std      min       25%  \
Exterior 2nd
AsbShng        28.0  107108.928571   41250.748819  12789.0   93912.5
AsphShn         3.0  132125.000000   46693.649193  82375.0  110687.5
Brk Cmn        17.0  139958.823529   24116.437828  60000.0  137900.0
BrkFace        34.0  187992.647059   85194.842756  40000.0  133250.0
CBlock          2.0   92000.000000   18384.776311  79000.0   85500.0
CmentBd        90.0  239540.200000  123255.245277  73000.0  129600.0
HdBoard       275.0  160836.880000   45502.682384  80000.0  130000.0
ImStucc        11.0  227472.727273   90545.779481  88000.0  162100.0
MetalSd       322.0  155405.521739   68444.794708  35000.0  119000.0
Plywood       183.0  166442.338798   48184.835517  76500.0  135000.0
Stone           6.0  145420.666667   64906.359647  81400.0   90875.0
Stucco         30.0  147725.333333   51946.557212  67000.0  116750.0
VinylSd       716.0  217788.930168   83411.571598  13100.0  164997.5
Wd Sdng       261.0  145773.762452   59214.225161  34900.0  112000.0
Wd Shng        63.0  154244.444444   71139.539808  55000.0  124625.0

                   50%       75%       max
Exterior 2nd
AsbShng       111500.0  129625.0  225000.0
AsphShn       139000.0  157000.0  175000.0
Brk Cmn       147000.0  148500.0  175000.0
BrkFace       159750.0  238500.0  430000.0
CBlock         92000.0   98500.0  105000.0
CmentBd       240950.0  311979.0  556581.0
HdBoard       155000.0  179550.0  335000.0
ImStucc       196000.0  317500.0  341000.0
MetalSd       137950.0  171875.0  584500.0
Plywood       154000.0  188450.0  320000.0
Stone         135250.0  194718.0  230000.0
Stucco        142000.0  168875.0  257076.0
VinylSd       202950.0  254925.0  611657.0
Wd Sdng       136500.0  162000.0  475000.0
Wd Shng       140000.0  169000.0  538000.0


               count           mean            std      min       25%  \
Mas Vnr Type
BrkCmn          13.0  144515.692308   48114.563297  82500.0  118500.0
BrkFace        627.0  211821.698565   82318.590112  75000.0  155000.0
None          1234.0  155105.202593   57161.849576  12789.0  120000.0
Stone          167.0  263806.838323  107579.499242  99000.0  181125.0

                   50%       75%       max
Mas Vnr Type
BrkCmn        139000.0  163000.0  277000.0
BrkFace       188500.0  255500.0  591587.0
None          143700.0  183000.0  475000.0
Stone         246000.0  321200.0  611657.0


             count           mean           std       min        25%  \
Exter Qual
Ex            81.0  374460.308642  98933.233170  160000.0  316500.00
Fa            26.0   89801.192308  41145.023372   13100.0   58468.75
Gd           692.0  230558.531792  67972.775743   52000.0  183150.00
TA          1242.0  143263.970209  40853.614761   12789.0  119248.00

                 50%       75%       max
Exter Qual
Ex          370967.0  438780.0  611657.0
Fa           83750.0  116125.0  200000.0
Gd          217250.0  269500.0  584500.0
TA          139200.0  163975.0  415000.0


             count           mean            std       min       25%  \
Exter Cond
Ex             7.0  236263.857143  125625.937519  118000.0  145250.0
Fa            49.0  102507.693878   45846.944967   12789.0   67000.0
Gd           215.0  167623.023256   65028.258248   45000.0  128000.0
Po             2.0   44800.000000   44830.569927   13100.0   28950.0
TA          1768.0  185147.735860   79874.908228   34900.0  131000.0

                 50%        75%       max
Exter Cond
Ex          173000.0  307500.00  457347.0
Fa           92000.0  135900.00  260000.0
Gd          150000.0  190050.00  584500.0
Po           44800.0   60650.00   76500.0
TA          166500.0  216877.75  611657.0


            count           mean           std       min       25%       50%  \
Foundation
BrkTil      220.0  128950.831818  52674.722696   12789.0  101750.0  125250.0
CBlock      859.0  148438.245634  45574.424664   34900.0  123000.0  140750.0
PConc       921.0  227476.217155  84936.858601   63000.0  173000.0  208900.0
Slab         34.0  108810.676471  47921.039902   13100.0   88100.0  102350.0
Stone         5.0  143235.200000  71450.251191   89000.0  102776.0  118000.0
Wood          2.0  173750.000000  39951.533137  145500.0  159625.0  173750.0

                 75%       max
Foundation
BrkTil      148625.0  475000.0
CBlock      166500.0  410000.0
PConc       267300.0  611657.0
Slab        129500.0  284700.0
Stone       139900.0  266500.0
Wood        187875.0  202000.0

           count           mean           std       min       25%       50%  \
Bsmt Qual
0           54.0  106375.444444  44560.517179   13100.0   82125.0   99000.0
Ex         184.0  329506.619565  98913.726643  100000.0  273000.0  319900.0
Fa          60.0  107752.166667  34059.476797   12789.0   87350.0  100950.0
Gd         857.0  202250.564761  56965.738065   73000.0  164700.0  191500.0
Po           1.0   89000.000000           NaN   89000.0   89000.0   89000.0
TA         885.0  139988.830508  41175.240361   34900.0  118000.0  135900.0

                75%       max
Bsmt Qual
0          125750.0  284700.0
Ex         385000.0  611657.0
Fa         129750.0  206900.0
Gd         232600.0  538000.0
Po          89000.0   89000.0
TA         157500.0  475000.0


            count           mean           std       min       25%       50%  \
Bsmt Cond
0            54.0  106375.444444  44560.517179   13100.0   82125.0   99000.0
Ex            3.0  195000.000000  83216.584885  135000.0  147500.0  160000.0
Fa           65.0  118629.076923  42682.526882   12789.0   91000.0  116500.0
Gd           89.0  223969.550562  79194.110691   78000.0  160000.0  209200.0
Po            5.0  124063.200000  84898.940048   61000.0   67000.0   94550.0
TA         1825.0  183864.493699  78497.232695   34900.0  132000.0  165000.0

                75%       max
Bsmt Cond
0          125750.0  284700.0
Ex         225000.0  290000.0
Fa         147000.0  257076.0
Gd         272000.0  465000.0
Po         129850.0  267916.0
TA         214500.0  611657.0


                count           mean            std      min       25%  \
Bsmt Exposure
0                54.0  106375.444444   44560.517179  13100.0   82125.0
Av              286.0  205465.937063   81638.517483  35311.0  148000.0
Gd              203.0  271610.566502  109600.224614  61000.0  185000.0
Mn              163.0  189377.570552   73187.465263  68000.0  137700.0
No             1335.0  164519.438202   61183.314906  12789.0  125800.0

                    50%       75%       max
Bsmt Exposure
0               99000.0  125750.0  284700.0
Av             185675.0  248975.0  591587.0
Gd             250764.0  335750.0  611657.0
Mn             170000.0  223250.0  475000.0
No             150000.0  190000.0  535000.0


                count           mean           std      min       25%  \
BsmtFin Type 1
0                54.0  106375.444444  44560.517179  13100.0   82125.0
ALQ             292.0  164414.109589  51023.517993  79275.0  130375.0
BLQ             200.0  150107.020000  43436.441698  35311.0  125375.0
GLQ             611.0  237367.112930  87476.089443  73000.0  176750.0
LwQ             102.0  153266.921569  51833.183880  61500.0  123125.0
Rec             181.0  143301.375691  51427.512294  34900.0  120000.0
Unf             601.0  166006.309484  72661.003559  12789.0  117600.0

                     50%       75%       max
BsmtFin Type 1
0                99000.0  125750.0  284700.0
ALQ             152750.0  180250.0  538000.0
BLQ             142500.0  163750.0  345000.0
GLQ             217000.0  284500.0  611657.0
LwQ             139000.0  171750.0  315000.0
Rec             135000.0  157000.0  584500.0
Unf             155000.0  193000.0  582933.0


                 count           mean            std      min       25%  \
BsmtFin Type 2
0                 54.0  106375.444444   44560.517179  13100.0   82125.0
ALQ               35.0  188567.142857   91516.726969  99500.0  129100.0
BLQ               48.0  156659.020833   55564.508874  62383.0  124875.0
GLQ               23.0  221300.000000  103403.449696  84500.0  150450.0
LwQ               60.0  162284.583333   42446.920765  88000.0  135500.0
Rec               79.0  164216.455696   54315.159806  85000.0  133400.0
Unf             1742.0  185122.066016   80410.771327  12789.0  130000.0

                     50%        75%       max
BsmtFin Type 2
0                99000.0  125750.00  284700.0
ALQ             162000.0  212750.00  555000.0
BLQ             140500.0  174625.00  417500.0
GLQ             217500.0  255750.00  584500.0
LwQ             154000.0  178468.75  287000.0
Rec             150500.0  173500.00  402000.0
Unf             167000.0  218752.00  611657.0


          count           mean           std       min       25%       50%  \
Heating
GasA     2008.0  182311.091135  79217.844987   12789.0  130000.0  163250.0
GasW       20.0  151275.000000  48576.438679   85000.0  123125.0  140000.0
Grav        5.0   65180.000000  18998.342033   37900.0   52500.0   76500.0
OthW        2.0  125750.000000   5303.300859  122000.0  123875.0  125750.0
Wall        6.0   77150.000000  31860.618324   13100.0   82925.0   88750.0

              75%       max
Heating
GasA     214125.0  611657.0
GasW     168250.0  256000.0
Grav      79000.0   80000.0
OthW     127625.0  129500.0
Wall      92175.0   98000.0


             count           mean           std      min       25%       50%  \
Heating QC
Ex          1057.0  215980.288553  85566.555085  64000.0  155000.0  197000.0
Fa            67.0  117123.641791  46612.677999  37900.0   79500.0  113500.0
Gd           317.0  160333.940063  57867.306993  50138.0  124000.0  153000.0
Po             3.0   69033.333333  49461.129519  13100.0   50050.0   87000.0
TA           597.0  138986.705193  42442.921146  12789.0  115000.0  134900.0

                 75%       max
Heating QC
Ex          256000.0  611657.0
Fa          154102.0  230000.0
Gd          179200.0  415000.0
Po           97000.0  107000.0
TA          155000.0  335000.0


              count           mean           std      min       25%       50%  \
Central Air
N             141.0  100575.078014  36971.446560  12789.0   79000.0   98000.0
Y            1900.0  187350.202632  78241.798122  50000.0  135000.0  168000.0

                  75%       max
Central Air
N            125000.0  239000.0
Y            218125.0  611657.0


             count           mean           std      min       25%       50%  \
Electrical
FuseA        139.0  122623.179856  38766.733867  13100.0   99750.0  123500.0
FuseF         35.0  103678.914286  30466.232529  35000.0   82437.5  105000.0
FuseP          7.0   83485.714286  22430.665659  64500.0   70500.0   75000.0
Mix            1.0   67000.000000           NaN  67000.0   67000.0   67000.0
SBrkr       1859.0  187639.422808  79418.064922  12789.0  134900.0  170000.0

                 75%       max
Electrical
FuseA       144500.0  239000.0
FuseF       129000.0  169500.0
FuseP        86950.0  130000.0
Mix          67000.0   67000.0
SBrkr       220000.0  611657.0


               count           mean            std       min        25%  \
Kitchen Qual
Ex             151.0  336424.463576  102364.369173  119000.0  272000.00
Fa              47.0  101334.957447   41957.590989   13100.0   72500.00
Gd             800.0  211374.501250   63075.442741   64500.0  169996.25
TA            1043.0  139486.129434   37841.442388   12789.0  118000.00

                   50%       75%       max
Kitchen Qual
Ex            325000.0  394828.0  611657.0
Fa            100000.0  118875.0  242500.0
Gd            200483.0  245775.0  591587.0
TA            136500.0  160000.0  289000.0


             count           mean           std      min       25%       50%  \
Functional
Maj1          12.0  163106.166667  54563.184907  61000.0  133000.0  147700.0
Maj2           7.0   87157.714286  37181.726469  52000.0   66000.0   68104.0
Min1          42.0  154429.761905  48195.569336  57625.0  127750.0  148250.0
Min2          41.0  150065.414634  52773.608386  63900.0  117000.0  142900.0
Mod           29.0  148108.724138  92052.265979  51689.0  107500.0  128000.0
Sal            2.0   31550.000000  26092.240226  13100.0   22325.0   31550.0
Sev            2.0   95750.000000  47022.600949  62500.0   79125.0   95750.0
Typ         1906.0  183835.576076  79622.273353  12789.0  130000.0  165000.0

                  75%       max
Functional
Maj1        200531.00  275000.0
Maj2        100000.00  158000.0
Min1        177343.75  315000.0
Min2        163000.00  316600.0
Mod         155000.00  538000.0
Sal          40775.00   50000.0
Sev         112375.00  129000.0
Typ         216375.00  611657.0


              count           mean            std       min       25%  \
Fireplace Qu
0             995.0  141918.960804   45242.637472   13100.0  114000.0
Ex             31.0  331481.483871  104195.432710  130500.0  272000.0
Fa             59.0  170287.203390   36515.654145  123000.0  145097.5
Gd            521.0  233177.537428   96385.002293   12789.0  161000.0
Po             31.0  139263.967742   26441.825858   62383.0  127500.0
TA            404.0  204979.094059   62666.632933   80000.0  164750.0

                   50%       75%       max
Fireplace Qu
0             136500.0  165000.0  360000.0
Ex            320000.0  412649.0  552000.0
Fa            159500.0  188500.0  279000.0
Gd            213000.0  284700.0  611657.0
Po            139000.0  158750.0  183500.0
TA            188500.0  236125.0  584500.0


              count           mean            std      min       25%  \
Garage Type
0             113.0  105669.150442   33704.765812  34900.0   82375.0
2Types         19.0  157184.210526   33828.017040  87000.0  143050.0
Attchd       1205.0  204984.878838   76848.632693  13100.0  150000.0
Basment        27.0  143242.333333   39079.659751  55993.0  122875.0
BuiltIn       131.0  248325.381679  100018.230168  91000.0  176469.5
CarPort        11.0  103823.545455   19675.502999  82000.0   89375.0
Detchd        535.0  132097.852336   40605.378316  12789.0  110000.0

                  50%       75%       max
Garage Type
0            104000.0  128000.0  200500.0
2Types       150000.0  170500.0  235000.0
Attchd       185850.0  237000.0  611657.0
Basment      145000.0  159000.0  235000.0
BuiltIn      222500.0  294618.0  582933.0
CarPort      101800.0  108479.5  148000.0
Detchd       129500.0  147200.0  475000.0


               count           mean           std       min       25%  \
Garage Finish
0              113.0  105669.150442  33704.765812   34900.0   82375.0
Fin            508.0  239829.799213  90561.311855  102900.0  174875.0
RFn            572.0  204557.886364  69486.551080   50138.0  156000.0
Unf            848.0  140760.858491  44443.372365   12789.0  115850.0

                    50%       75%       max
Garage Finish
0              104000.0  128000.0  200500.0
Fin            215000.0  287022.5  611657.0
RFn            190775.0  235000.0  584500.0
Unf            135000.0  157000.0  475000.0

              count           mean            std       min       25%  \
Garage Qual
0             113.0  105669.150442   33704.765812   34900.0   82375.0
Ex              3.0  241000.000000  202680.166765  120500.0  124000.0
Fa             81.0  116329.148148   41888.802327   12789.0   95000.0
Gd             18.0  262989.277778  124483.627059   90350.0  174925.0
Po              2.0   65000.000000    2828.427125   63000.0   64000.0
TA           1824.0  188155.915022   77537.230138   35311.0  136000.0

                  50%       75%       max
Garage Qual
0            104000.0  128000.0  200500.0
Ex           127500.0  301250.0  475000.0
Fa           113000.0  135000.0  257076.0
Gd           266250.0  314375.0  591587.0
Po            65000.0   66000.0   67000.0
TA           170000.0  219500.0  611657.0


              count           mean           std       min       25%  \
Garage Cond
0             113.0  105669.150442  33704.765812   34900.0   82375.0
Ex              2.0  124000.000000   4949.747468  120500.0  122250.0
Fa             47.0  107387.957447  40153.374596   12789.0   81700.0
Gd             12.0  209030.833333  74516.678726  132000.0  144000.0
Po              8.0   89925.000000  40500.855370   13100.0   66000.0
TA           1859.0  188102.664336  78533.634893   35311.0  135000.0

                  50%       75%       max
Garage Cond
0            104000.0  128000.0  200500.0
Ex           124000.0  125750.0  127500.0
Fa           110000.0  131500.0  220000.0
Gd           177450.0  279352.5  315000.0
Po           101950.0  112225.0  139500.0
TA           169500.0  219500.0  611657.0


              count           mean           std      min        25%  \
Paved Drive
N             150.0  103993.246667  38767.954816  12789.0   79456.25
P              39.0  129824.461538  38305.762374  64000.0  101000.00
Y            1852.0  188706.441685  78560.522319  35311.0  135375.00

                  50%       75%       max
Paved Drive
N            103888.0  127000.0  239000.0
P            126500.0  156852.0  235000.0
Y            170000.0  220000.0  611657.0


          count           mean           std       min       25%       50%  \
Pool QC
0        2032.0  181226.132382  79273.640101   12789.0  129500.0  162000.0
Ex          1.0  315000.000000           NaN  315000.0  315000.0  315000.0
Fa          2.0  215500.000000  48790.367902  181000.0  198250.0  215500.0
Gd          4.0  216492.500000  59367.473348  160000.0  168250.0  215500.0
TA          2.0  141500.000000  16263.455967  130000.0  135750.0  141500.0

              75%       max
Pool QC
0        213625.0  611657.0
Ex       315000.0  315000.0
Fa       232750.0  250000.0
Gd       263742.5  274970.0
TA       147250.0  153000.0


        count           mean           std       min       25%       50%  \
Fence
0      1642.0  188437.009744  82895.895215   12789.0  132000.0  172500.0
GdPrv    83.0  176979.855422  66178.742569   89900.0  139700.0  158500.0
GdWo     80.0  141499.162500  46030.188516   34900.0  123000.0  136750.0
MnPrv   226.0  147663.672566  47536.889361   40000.0  123000.0  138750.0
MnWw     10.0  135165.000000  22698.630037  110000.0  121225.0  131250.0

             75%       max
Fence
0      224182.25  611657.0
GdPrv  188950.00  475000.0
GdWo   153125.00  290000.0
MnPrv  159875.00  445000.0
MnWw   144000.00  187000.0


               count           mean           std       min       25%  \
Misc Feature
0             1977.0  182053.984825  79893.482681   12789.0  129850.0
Elev             1.0  183850.000000           NaN  183850.0  183850.0
Gar2             3.0  132000.000000  37000.000000   99000.0  112000.0
Othr             3.0  163166.666667  98750.105485   55000.0  120500.0
Shed            56.0  159042.732143  48268.869093   55993.0  129737.5
TenC             1.0  250000.000000           NaN  250000.0  250000.0

                   50%       75%       max
Misc Feature
0             163000.0  215000.0  611657.0
Elev          183850.0  183850.0  183850.0
Gar2          125000.0  148500.0  172000.0
Othr          186000.0  217250.0  248500.0
Shed          153750.0  189000.0  277000.0
TenC          250000.0  250000.0  250000.0


            count           mean            std       min       25%       50%  \
Sale Type
COD          62.0  133882.177419   44221.527717   50000.0  110312.5  127750.0
CWD          10.0  186635.000000   60724.222011  136000.0  141987.5  160750.0
Con           4.0  241807.500000   94315.167877  120000.0  191400.0  261615.0
ConLD        17.0  129091.352941   56798.944278   35000.0   84900.0  130000.0
ConLI         7.0  207992.857143  134640.015190  110000.0  117000.0  125000.0
ConLw         5.0  124600.000000   54550.893668   82000.0   90000.0   95000.0
New         157.0  279169.050955  105586.506612  140000.0  194201.0  260116.0
Oth           4.0  127497.750000   34545.182302   80000.0  113075.0  137050.0
WD         1775.0  174872.766761   70831.612258   12789.0  129000.0  158500.0

                 75%       max
Sale Type
COD        151750.00  287000.0
CWD        218375.00  328900.0
Con        312022.50  324000.0
ConLD      170000.00  235128.0
ConLI      267500.00  451950.0
ConLw      144000.00  212000.0
New        342643.00  611657.0
Oth        151472.75  155891.0
WD         206150.00  584500.0

IndexError: index 42 is out of bounds for axis 0 with size 42

In [63]:
df=df.fillna(0)
df['Lot Config']=df['Lot Config'].map(lambda x: 'NotCulDSac' if x!='CulDSac' else x)
df['Land Slope']=df['Land Slope'].map(lambda x: 'Gtl' if x=='Sev' else x)
df['Bldg Type']=df['Bldg Type'].map({'1Fam':'TwnhsE'})
df['Bldg Type']=df['Bldg Type'].map(lambda x: 'notTwnhsE' if x!='TwnhsE' else x)
#df['Floors']=df['House Style'].map({'1.5Fin':1.5,'1.5Unf':1.5,'1Story':1,'2.5Fin':2.5,'2.5Unf':2.5,'2Story':2,'SFoyer':1.5,'SLvl':1})
df['finished']=df['House Style'].map(lambda x: 'Unf' if ('Unf' in x) else 'Fin')
#df['Roof Style']=df['Roof Style'].map({'Shed':'Hip'})
### df['Roof Matl']=df['Roof Matl'].map({'ClyTile':'CompShg','Tar&Grv':'CompShg'})
df['Roof Matl']=df['Roof Matl'].map(lambda x: 'Not' if x!='CompShg' else x)
df['Roof Matl']=df['Roof Matl'].map(lambda x: 'Not' if x!='CompShg' else x)
df['Exter Qual']=df['Exter Qual'].map({'Fa':0,'TA':1,'Gd':2,'Ex':3})
df['Exter Cond']=df['Exter Cond'].map({'Po':0,'Fa':1,'TA':2,'Gd':3,'Ex':4})

df['Foundation']=df['Foundation'].map({'Slab':0,'BrkTil':1,'CBlock':2,'Stone':2,'Wood':3,'PConc':4})
df['Bsmt Qual']=df['Bsmt Qual'].map({'Po':-1,0:0,'Fa':1,'TA':2,'Gd':3,'Ex':4})
df['Bsmt Cond']=df['Bsmt Cond'].map({'Po':-1,0:0,'Fa':1,'TA':2,'Gd':3,'Ex':4})
df['Bsmt Exposure']=df['Bsmt Exposure'].map({0:1,'No':1,'Mn':2,'Av':2,'Gd':3})
df['BsmtFin Type 1']=df['BsmtFin Type 1'].map({0:0,'Rec':3,'BLQ':4,'LwQ':2,'Unf':1,'ALQ':5,'GLQ':6})
df['BsmtFin Type 2']=df['BsmtFin Type 2'].map({0:0,'Rec':3,'BLQ':4,'LwQ':2,'Unf':1,'ALQ':5,'GLQ':6})
df['Heating QC']=df['Heating QC'].map({'Po':-1,'Fa':1,'TA':2,'Gd':3,'Ex':4})
df['Central Air']=df['Central Air'].map({'Y':1,'N':0})
df['Electrical']=df['Electrical'].map({'FuseP':1,'Mix':0,'FuseA':3,'FuseF':2,'SBrkr':4})
df['Electrical']=df['Electrical'].fillna(0)
df['Kitchen Qual']=df['Kitchen Qual'].map({'Po':-1,'Fa':1,'TA':2,'Gd':3,'Ex':4})
df['Functional']=df['Functional'].map({'Sal':-1,'Sev':0,'Maj2':2,'Maj1':3,'Mod':4,'Min2':5,'Min1':6,'Typ':7})
df['Fireplace Qu']=df['Fireplace Qu'].map({0:0,'Po':-1,'Fa':1,'TA':2,'Gd':3,'Ex':4})
df['Garage Type']=df['Garage Type'].map({'BuiltIn':'In','Attchd':'In'})
df['Garage Type']=df['Garage Type'].map(lambda x: 'Out' if x!='In' else x)
df['Garage Finish']=df['Garage Finish'].map({0:0,'Unf':1,'RFn':2,'Fin':3})
df['Garage Qual']=df['Garage Qual'].map({0:0,'Po':-1,'Fa':1,'TA':2,'Gd':3,'Ex':4})
df['Garage Cond']=df['Garage Cond'].map({0:0,'Po':-1,'Fa':1,'TA':2,'Gd':3,'Ex':4})
df['Paved Drive']=df['Paved Drive'].map({'N':0,'P':1,'Y':2})
df['Pool QC']=df['Pool QC'].map({0:0,'Po':-1,'Fa':1,'TA':2,'Gd':3,'Ex':4})
df['Fence']=df['Fence'].map({'0':5,0:5,'MnWw':1,'MnPrv':2,'GdWo':3,'GdPrv':4})
df['>4000SF']=[int(x>4000) for x in df['Gr Liv Area']]
df['Exterior']=df['Exterior 1st']*df['Exterior 2nd']

TypeError: can't multiply sequence by non-int of type 'str'

In [61]:
df['Neighborhood'].value_counts()

NAmes      442
CollgCr    267
OldTown    238
Edwards    194
Somerst    181
NridgHt    165
Gilbert    163
Sawyer     150
NWAmes     130
SawyerW    125
Mitchel    114
BrkSide    108
Crawfor    103
IDOTRR      92
Timber      72
NoRidge     71
StoneBr     50
SWISU       48
ClearCr     44
MeadowV     37
BrDale      30
Blmngtn     28
Veenker     24
NPkVill     23
Blueste     10
Greens       8
GrnHill      2
Landmrk      1
Name: Neighborhood, dtype: int64

In [ ]:
df.columns[df.isnull().sum()>0]

In [ ]:
df.columns.values

In [ ]:
#plot a triangular heatmap of the numerical correlations
dummies=df.columns[[(df[column].dtypes==object) for column in df]]
not_dummies=df.columns[[(df[column].dtypes!=object) for column in df]]

plt.figure(figsize=(15,10))
mask = np.zeros_like(df[not_dummies].corr(), dtype=np.bool)
mask[np.triu_indices_from(mask)] = True
sns.heatmap(df[not_dummies].corr(),mask=mask)
plt.gca().set_title('Correlation between the numeric values of the training dataset',size=20,y=10.0)

In [ ]:
#change things to int so they dont get dummied
df[dummies].dtypes

In [ ]:
df=pd.get_dummies(df,columns=dummies,drop_first=True)

In [ ]:
test=df[df['SalePrice']==0]
train=df[df['SalePrice']!=0]
print("df shape:{} \ntrain.shape:{} \ntest.shape{}".format(df.shape,train.shape,test.shape))

In [ ]:
#save the cleaned test data
test.to_csv('datasets/clean_test.csv')
train.to_csv('datasets/clean_train.csv')